// Button variant
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }
  &:active,
  &.active{
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}

%btn,
.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $base-font-size, $line-height-base);

  &:hover,
  &:focus,
  &.focus {
    color: $btn-ghost-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(1);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
    border-color: $btn-ghost-border;
    background-color: $btn-disabled-bg;
    color: $btn-ghost-color;
  }
}

// Alternate buttons
// --------------------------------------------------

%btn-ghost,
.btn-ghost {
  @include button-variant($btn-ghost-color, $btn-ghost-bg, $btn-ghost-border);
}

%btn-primary,
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

%btn-sucess,
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

%btn-info,
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

%btn-warning,
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

%btn-error,
.btn-error {
  @include button-variant($btn-error-color, $btn-error-bg, $btn-error-border);
}