// Button variant
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active{
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }
  &:active,
  &.active{
    background-image: none;
  }
  &:visited,
  &.visited{
    color: $color;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active, {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }

  .ripple {
    background-color: darken($background, 50%);
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}

%btn,
.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $base-font-size, $line-height-base);

  &:hover,
  &:focus,
  &.focus,
  &:visited,
  &.visited{
    color: $btn-ghost-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(1);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
    border-color: $btn-ghost-border;
    background-color: $btn-disabled-bg;
    color: $btn-ghost-color;
  }

  .ripple {
    z-index: -1;
  }
}

// Alternate buttons
// --------------------------------------------------

$types : (
  ghost: (color: $btn-ghost-color, bg: $btn-ghost-bg, border: $btn-ghost-border),
  primary: (color: $btn-primary-color, bg: $btn-primary-bg, border: $btn-primary-border),
  success: (color: $btn-success-color, bg: $btn-success-bg, border: $btn-success-border),
  warning: (color: $btn-warning-color, bg: $btn-warning-bg, border: $btn-warning-border),
  info: (color: $btn-info-color, bg: $btn-info-bg, border: $btn-info-border),
  error: (color: $btn-error-color, bg: $btn-error-bg, border: $btn-error-border)
) !default;

@each $key, $type in $types {

  %btn-#{$key},
  .btn-#{$key} {
    @include button-variant(map-get($type, color), map-get($type, bg), map-get($type, border));
  }
}

$sizes : (
  large: (vertical: $padding-large-vertical, horizontal: $padding-large-horizontal, font: $font-size-large, line: $line-height-large),
  base: (vertical: $padding-base-vertical, horizontal: $padding-base-horizontal, font: $font-size-base, line: $line-height-base),
  small: (vertical: $padding-base-vertical, horizontal: $padding-small-horizontal, font: $font-size-small, line: $line-height-small),
  xs: (vertical: $padding-base-vertical, horizontal: $padding-xs-horizontal, font: $font-size-xs, line: $line-height-xs)
) !default;

@each $key, $size in $sizes {
  %btn-#{$key},
  .btn-#{$key} {
    @include button-size(map-get($size, vertical), map-get($size, horizontal), map-get($size, font), map-get($size, line));
  }
}