
$origam-font-path:        "../fonts" !default;
$origam-css-prefix:       origamicon !default;
$origam-version:          "4.2.0" !default;
$origam-border-color:     #eee !default;
$origam-inverse:          #fff !default;
$origam-li-width:         (30em / 14) !default;