@font-face {
  font-family: 'origamicon';
  src:url('#{$origam-font-path}/origamicon.eot?xisk0l');
  src:url('#{$origam-font-path}/origamicon.eot?#iefixxisk0l') format('embedded-opentype'),
  url('#{$origam-font-path}/origamicon.woff?xisk0l') format('woff'),
  url('#{$origam-font-path}/origamicon.ttf?xisk0l') format('truetype'),
  url('#{$origam-font-path}/origamicon.svg?xisk0l#origamicon') format('svg');
  font-weight: normal;
  font-style: normal;
}