/*********** Clearfix **************/
.clearfix,
.origam-grid__section {
  *zoom: 1;
}
.clearfix:before, .clearfix:after,
.origam-grid__section:before,
.origam-grid__section:after {
  content: " ";
  display: table;
  line-height: 0;
}
.clearfix:after,
.origam-grid__section:after {
  clear: both;
}

/*********** Origam Grid **************/
.origam-grid {
  clear: both;
  display: block;
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
}
.origam-grid .origam-grid {
  margin-left: -0.71429em;
  margin-right: -0.71429em;
}
.origam-grid > .origam-grid {
  margin-left: 0;
  margin-right: 0;
}

/*********** Origam Grid Wrapper **************/
.origam-grid__wrapper {
  *zoom: 1;
}
.origam-grid__wrapper:before, .origam-grid__wrapper:after {
  content: " ";
  display: table;
  line-height: 0;
}
.origam-grid__wrapper:after {
  clear: both;
}

/*********** Origam Grid Section **************/
.origam-grid__section {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
}

/*********** Origam Grid wordspace **************/
.opera:-o-prefocus,
.origam-grid {
  word-spacing: -0.43em;
}

/*********** Origam Grid no maxwidth **************/
.origam-grid__cell .origam-grid {
  max-width: none;
}

/*********** Origam Grid cell **************/
.origam-grid__cell {
  position: relative;
  display: -moz-inline-block;
  /* 1 */
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0;
  padding-left: 0.71429em;
  padding-right: 0.71429em;
  width: 100%;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  box-sizing: border-box;
}

/*********** Origam Grid Size **************/
.origam-grid_size-1of1, .origam-grid_size-2of2, .origam-grid_size-3of3, .origam-grid_size-4of4, .origam-grid_size-5of5, .origam-grid_size-6of6, .origam-grid_size-7of7, .origam-grid_size-8of8, .origam-grid_size-9of9, .origam-grid_size-10of10, .origam-grid_size-11of11, .origam-grid_size-12of12 {
  width: 100%;
}

.origam-grid_size-1of2, .origam-grid_size-2of4, .origam-grid_size-3of6, .origam-grid_size-4of8, .origam-grid_size-5of10, .origam-grid_size-6of12 {
  width: 50%;
}

.origam-grid_size-1of3, .origam-grid_size-2of6, .origam-grid_size-3of9, .origam-grid_size-4of12 {
  width: 33.33333%;
}

.origam-grid_size-2of3, .origam-grid_size-4of6, .origam-grid_size-6of9, .origam-grid_size-8of12 {
  width: 66.66667%;
}

.origam-grid_size-1of4, .origam-grid_size-2of8, .origam-grid_size-3of12 {
  width: 25%;
}

.origam-grid_size-3of4, .origam-grid_size-6of8, .origam-grid_size-9of12 {
  width: 75%;
}

.origam-grid_size-1of5, .origam-grid_size-2of10 {
  width: 20%;
}

.origam-grid_size-2of5, .origam-grid_size-4of10 {
  width: 40%;
}

.origam-grid_size-3of5, .origam-grid_size-6of10 {
  width: 60%;
}

.origam-grid_size-4of5, .origam-grid_size-8of10 {
  width: 80%;
}

.origam-grid_size-1of6, .origam-grid_size-2of12 {
  width: 16.66667%;
}

.origam-grid_size-5of6, .origam-grid_size-10of12 {
  width: 83.33333%;
}

.origam-grid_size-1of7 {
  width: 14.28571%;
}

.origam-grid_size-2of7 {
  width: 28.57143%;
}

.origam-grid_size-3of7 {
  width: 42.85714%;
}

.origam-grid_size-4of7 {
  width: 57.14286%;
}

.origam-grid_size-5of7 {
  width: 71.42857%;
}

.origam-grid_size-6of7 {
  width: 85.71429%;
}

.origam-grid_size-1of8 {
  width: 12.5%;
}

.origam-grid_size-3of8 {
  width: 37.5%;
}

.origam-grid_size-5of8 {
  width: 62.5%;
}

.origam-grid_size-7of8 {
  width: 87.5%;
}

.origam-grid_size-1of9 {
  width: 11.11111%;
}

.origam-grid_size-2of9 {
  width: 22.22222%;
}

.origam-grid_size-4of9 {
  width: 44.44444%;
}

.origam-grid_size-5of9 {
  width: 55.55556%;
}

.origam-grid_size-7of9 {
  width: 77.77778%;
}

.origam-grid_size-8of9 {
  width: 88.88889%;
}

.origam-grid_size-1of10 {
  width: 10%;
}

.origam-grid_size-3of10 {
  width: 30%;
}

.origam-grid_size-7of10 {
  width: 70%;
}

.origam-grid_size-9of10 {
  width: 90%;
}

.origam-grid_size-1of11 {
  width: 9.09091%;
}

.origam-grid_size-2of11 {
  width: 18.18182%;
}

.origam-grid_size-3of11 {
  width: 27.27273%;
}

.origam-grid_size-4of11 {
  width: 36.36364%;
}

.origam-grid_size-5of11 {
  width: 45.45455%;
}

.origam-grid_size-6of11 {
  width: 54.54545%;
}

.origam-grid_size-7of11 {
  width: 63.63636%;
}

.origam-grid_size-8of11 {
  width: 72.72727%;
}

.origam-grid_size-9of11 {
  width: 81.81818%;
}

.origam-grid_size-10of11 {
  width: 90.90909%;
}

.origam-grid_size-1of12 {
  width: 8.33333%;
}

.origam-grid_size-5of12 {
  width: 41.66667%;
}

.origam-grid_size-7of12 {
  width: 58.33333%;
}

.origam-grid_size-11of12 {
  width: 91.66667%;
}

.origam-grid__section.origam-grid__section_full {
  max-width: none;
}

/*********** Origam Grid hidden **************/
.origam-grid__cell_hidden {
  display: none;
}

/*********** Origam Grid Gutter **************/
.origam-grid .origam-grid_no-gutter {
  padding-left: 0.71429em;
  padding-right: 0.71429em;
}
.origam-grid .origam-grid_no-gutter > .origam-grid__cell {
  padding-left: 0;
  padding-right: 0;
}

/*********** Origam Grid Pull **************/
.origam-grid_pull-1 {
  right: 100%;
}

.origam-grid_pull-1-2,
.origam-grid_pull-2-4,
.origam-grid_pull-3-6,
.origam-grid_pull-4-8,
.origam-grid_pull-5-10,
.origam-grid_pull-6-12 {
  right: 50%;
}

.origam-grid_pull-1-3,
.origam-grid_pull-2-6,
.origam-grid_pull-3-9,
.origam-grid_pull-4-12 {
  right: 33.33333%;
}

.origam-grid_pull-2-3,
.origam-grid_pull-4-6,
.origam-grid_pull-6-9,
.origam-grid_pull-8-12 {
  right: 66.66667%;
}

.origam-grid_pull-1-4,
.origam-grid_pull-2-8,
.origam-grid_pull-3-12 {
  right: 25%;
}

.origam-grid_pull-3-4,
.origam-grid_pull-6-8,
.origam-grid_pull-9-12 {
  right: 75%;
}

.origam-grid_pull-1-5,
.origam-grid_pull-2-10 {
  right: 20%;
}

.origam-grid_pull-2-5,
.origam-grid_pull-4-10 {
  right: 40%;
}

.origam-grid_pull-3-5,
.origam-grid_pull-6-10 {
  right: 60%;
}

.origam-grid_pull-4-5,
.origam-grid_pull-8-10 {
  right: 80%;
}

.origam-grid_pull-1-6,
.origam-grid_pull-2-12 {
  right: 16.66667%;
}

.origam-grid_pull-5-6 {
  right: 83.33333%;
}

.origam-grid_pull-1-7 {
  right: 14.28571%;
}

.origam-grid_pull-2-7 {
  right: 28.57143%;
}

.origam-grid_pull-3-7 {
  right: 42.85714%;
}

.origam-grid_pull-4-7 {
  right: 57.14286%;
}

.origam-grid_pull-5-7 {
  right: 71.42857%;
}

.origam-grid_pull-6-7 {
  right: 85.71429%;
}

.origam-grid_pull-1-8 {
  right: 12.5%;
}

.origam-grid_pull-3-8 {
  right: 37.5%;
}

.origam-grid_pull-5-8 {
  right: 62.5%;
}

.origam-grid_pull-7-8 {
  right: 87.5%;
}

.origam-grid_pull-1-9 {
  right: 11.11111%;
}

.origam-grid_pull-2-9 {
  right: 22.22222%;
}

.origam-grid_pull-4-9 {
  right: 44.44444%;
}

.origam-grid_pull-5-9 {
  right: 55.55556%;
}

.origam-grid_pull-7-9 {
  right: 77.77778%;
}

.origam-grid_pull-8-9 {
  right: 88.88889%;
}

.origam-grid_pull-1-10 {
  right: 10%;
}

.origam-grid_pull-3-10 {
  right: 30%;
}

.origam-grid_pull-7-10 {
  right: 70%;
}

.origam-grid_pull-9-10 {
  right: 90%;
}

.origam-grid_pull-1-11 {
  right: 9.09091%;
}

.origam-grid_pull-2-11 {
  right: 18.18182%;
}

.origam-grid_pull-3-11 {
  right: 27.27273%;
}

.origam-grid_pull-4-11 {
  right: 36.36364%;
}

.origam-grid_pull-5-11 {
  right: 45.45455%;
}

.origam-grid_pull-6-11 {
  right: 54.54545%;
}

.origam-grid_pull-7-11 {
  right: 63.63636%;
}

.origam-grid_pull-8-11 {
  right: 72.72727%;
}

.origam-grid_pull-9-11 {
  right: 81.81818%;
}

.origam-grid_pull-10-11 {
  right: 90.90909%;
}

.origam-grid_pull-1-12 {
  right: 8.33333%;
}

.origam-grid_pull-5-12 {
  right: 41.66667%;
}

.origam-grid_pull-7-12 {
  right: 58.33333%;
}

.origam-grid_pull-10-12 {
  right: 83.33333%;
}

.origam-grid_pull-11-12 {
  right: 91.66667%;
}

/*********** Origam Grid Push **************/
.origam-grid_push-1 {
  left: 100%;
}

.origam-grid_push-1-2,
.origam-grid_push-2-4,
.origam-grid_push-3-6,
.origam-grid_push-4-8,
.origam-grid_push-5-10,
.origam-grid_push-6-12 {
  left: 50%;
}

.origam-grid_push-1-3,
.origam-grid_push-2-6,
.origam-grid_push-3-9,
.origam-grid_push-4-12 {
  left: 33.33333%;
}

.origam-grid_push-2-3,
.origam-grid_push-4-6,
.origam-grid_push-6-9,
.origam-grid_push-8-12 {
  left: 66.66667%;
}

.origam-grid_push-1-4,
.origam-grid_push-2-8,
.origam-grid_push-3-12 {
  left: 25%;
}

.origam-grid_push-3-4,
.origam-grid_push-6-8,
.origam-grid_push-9-12 {
  left: 75%;
}

.origam-grid_push-1-5,
.origam-grid_push-2-10 {
  left: 20%;
}

.origam-grid_push-2-5,
.origam-grid_push-4-10 {
  left: 40%;
}

.origam-grid_push-3-5,
.origam-grid_push-6-10 {
  left: 60%;
}

.origam-grid_push-4-5,
.origam-grid_push-8-10 {
  left: 80%;
}

.origam-grid_push-1-6,
.origam-grid_push-2-12 {
  left: 16.66667%;
}

.origam-grid_push-5-6 {
  left: 83.33333%;
}

.origam-grid_push-1-7 {
  left: 14.28571%;
}

.origam-grid_push-2-7 {
  left: 28.57143%;
}

.origam-grid_push-3-7 {
  left: 42.85714%;
}

.origam-grid_push-4-7 {
  left: 57.14286%;
}

.origam-grid_push-5-7 {
  left: 71.42857%;
}

.origam-grid_push-6-7 {
  left: 85.71429%;
}

.origam-grid_push-1-8 {
  left: 12.5%;
}

.origam-grid_push-3-8 {
  left: 37.5%;
}

.origam-grid_push-5-8 {
  left: 62.5%;
}

.origam-grid_push-7-8 {
  left: 87.5%;
}

.origam-grid_push-1-9 {
  left: 11.11111%;
}

.origam-grid_push-2-9 {
  left: 22.22222%;
}

.origam-grid_push-4-9 {
  left: 44.44444%;
}

.origam-grid_push-5-9 {
  left: 55.55556%;
}

.origam-grid_push-7-9 {
  left: 77.77778%;
}

.origam-grid_push-8-9 {
  left: 88.88889%;
}

.origam-grid_push-1-10 {
  left: 10%;
}

.origam-grid_push-3-10 {
  left: 30%;
}

.origam-grid_push-7-10 {
  left: 70%;
}

.origam-grid_push-9-10 {
  left: 90%;
}

.origam-grid_push-1-11 {
  left: 9.09091%;
}

.origam-grid_push-2-11 {
  left: 18.18182%;
}

.origam-grid_push-3-11 {
  left: 27.27273%;
}

.origam-grid_push-4-11 {
  left: 36.36364%;
}

.origam-grid_push-5-11 {
  left: 45.45455%;
}

.origam-grid_push-6-11 {
  left: 54.54545%;
}

.origam-grid_push-7-11 {
  left: 63.63636%;
}

.origam-grid_push-8-11 {
  left: 72.72727%;
}

.origam-grid_push-9-11 {
  left: 81.81818%;
}

.origam-grid_push-10-11 {
  left: 90.90909%;
}

.origam-grid_push-1-12 {
  left: 8.33333%;
}

.origam-grid_push-5-12 {
  left: 41.66667%;
}

.origam-grid_push-7-12 {
  left: 58.33333%;
}

.origam-grid_push-10-12 {
  left: 83.33333%;
}

.origam-grid_push-11-12 {
  left: 91.66667%;
}

/*********** Origam Grid large layout **************/
@media (min-width: 971px) {
  body:after {
    display: none;
    content: "large";
  }

  .origam-grid_hidden--large {
    display: none !important;
  }

  .origam-grid_size-1of1--large, .origam-grid_size-2of2--large, .origam-grid_size-3of3--large, .origam-grid_size-4of4--large, .origam-grid_size-5of5--large, .origam-grid_size-6of6--large, .origam-grid_size-7of7--large, .origam-grid_size-8of8--large, .origam-grid_size-9of9--large, .origam-grid_size-10of10--large, .origam-grid_size-11of11--large, .origam-grid_size-12of12--large {
    width: 100%;
  }

  .origam-grid_size-1of2--large, .origam-grid_size-2of4--large, .origam-grid_size-3of6--large, .origam-grid_size-4of8--large, .origam-grid_size-5of10--large, .origam-grid_size-6of12--large {
    width: 50%;
  }

  .origam-grid_size-1of3--large, .origam-grid_size-2of6--large, .origam-grid_size-3of9--large, .origam-grid_size-4of12--large {
    width: 33.33333%;
  }

  .origam-grid_size-2of3--large, .origam-grid_size-4of6--large, .origam-grid_size-6of9--large, .origam-grid_size-8of12--large {
    width: 66.66667%;
  }

  .origam-grid_size-1of4--large, .origam-grid_size-2of8--large, .origam-grid_size-3of12--large {
    width: 25%;
  }

  .origam-grid_size-3of4--large, .origam-grid_size-6of8--large, .origam-grid_size-9of12--large {
    width: 75%;
  }

  .origam-grid_size-1of5--large, .origam-grid_size-2of10--large {
    width: 20%;
  }

  .origam-grid_size-2of5--large, .origam-grid_size-4of10--large {
    width: 40%;
  }

  .origam-grid_size-3of5--large, .origam-grid_size-6of10--large {
    width: 60%;
  }

  .origam-grid_size-4of5--large, .origam-grid_size-8of10--large {
    width: 80%;
  }

  .origam-grid_size-1of6--large, .origam-grid_size-2of12--large {
    width: 16.66667%;
  }

  .origam-grid_size-5of6--large, .origam-grid_size-10of12--large {
    width: 83.33333%;
  }

  .origam-grid_size-1of7--large {
    width: 14.28571%;
  }

  .origam-grid_size-2of7--large {
    width: 28.57143%;
  }

  .origam-grid_size-3of7--large {
    width: 42.85714%;
  }

  .origam-grid_size-4of7--large {
    width: 57.14286%;
  }

  .origam-grid_size-5of7--large {
    width: 71.42857%;
  }

  .origam-grid_size-6of7--large {
    width: 85.71429%;
  }

  .origam-grid_size-1of8--large {
    width: 12.5%;
  }

  .origam-grid_size-3of8--large {
    width: 37.5%;
  }

  .origam-grid_size-5of8--large {
    width: 62.5%;
  }

  .origam-grid_size-7of8--large {
    width: 87.5%;
  }

  .origam-grid_size-1of9--large {
    width: 11.11111%;
  }

  .origam-grid_size-2of9--large {
    width: 22.22222%;
  }

  .origam-grid_size-4of9--large {
    width: 44.44444%;
  }

  .origam-grid_size-5of9--large {
    width: 55.55556%;
  }

  .origam-grid_size-7of9--large {
    width: 77.77778%;
  }

  .origam-grid_size-8of9--large {
    width: 88.88889%;
  }

  .origam-grid_size-1of10--large {
    width: 10%;
  }

  .origam-grid_size-3of10--large {
    width: 30%;
  }

  .origam-grid_size-7of10--large {
    width: 70%;
  }

  .origam-grid_size-9of10--large {
    width: 90%;
  }

  .origam-grid_size-1of11--large {
    width: 9.09091%;
  }

  .origam-grid_size-2of11--large {
    width: 18.18182%;
  }

  .origam-grid_size-3of11--large {
    width: 27.27273%;
  }

  .origam-grid_size-4of11--large {
    width: 36.36364%;
  }

  .origam-grid_size-5of11--large {
    width: 45.45455%;
  }

  .origam-grid_size-6of11--large {
    width: 54.54545%;
  }

  .origam-grid_size-7of11--large {
    width: 63.63636%;
  }

  .origam-grid_size-8of11--large {
    width: 72.72727%;
  }

  .origam-grid_size-9of11--large {
    width: 81.81818%;
  }

  .origam-grid_size-10of11--large {
    width: 90.90909%;
  }

  .origam-grid_size-1of12--large {
    width: 8.33333%;
  }

  .origam-grid_size-5of12--large {
    width: 41.66667%;
  }

  .origam-grid_size-7of12--large {
    width: 58.33333%;
  }

  .origam-grid_size-11of12--large {
    width: 91.66667%;
  }
}
/*********** Origam Grid medium layout **************/
@media (min-width: 751px) {
  body:after {
    display: none;
    content: "medium";
  }

  .origam-grid_hidden--medium {
    display: none !important;
  }

  .origam-grid_size-1of1--medium, .origam-grid_size-2of2--medium, .origam-grid_size-3of3--medium, .origam-grid_size-4of4--medium, .origam-grid_size-5of5--medium, .origam-grid_size-6of6--medium, .origam-grid_size-7of7--medium, .origam-grid_size-8of8--medium, .origam-grid_size-9of9--medium, .origam-grid_size-10of10--medium, .origam-grid_size-11of11--medium, .origam-grid_size-12of12--medium {
    width: 100%;
  }

  .origam-grid_size-1of2--medium, .origam-grid_size-2of4--medium, .origam-grid_size-3of6--medium, .origam-grid_size-4of8--medium, .origam-grid_size-5of10--medium, .origam-grid_size-6of12--medium {
    width: 50%;
  }

  .origam-grid_size-1of3--medium, .origam-grid_size-2of6--medium, .origam-grid_size-3of9--medium, .origam-grid_size-4of12--medium {
    width: 33.33333%;
  }

  .origam-grid_size-2of3--medium, .origam-grid_size-4of6--medium, .origam-grid_size-6of9--medium, .origam-grid_size-8of12--medium {
    width: 66.66667%;
  }

  .origam-grid_size-1of4--medium, .origam-grid_size-2of8--medium, .origam-grid_size-3of12--medium {
    width: 25%;
  }

  .origam-grid_size-3of4--medium, .origam-grid_size-6of8--medium, .origam-grid_size-9of12--medium {
    width: 75%;
  }

  .origam-grid_size-1of5--medium, .origam-grid_size-2of10--medium {
    width: 20%;
  }

  .origam-grid_size-2of5--medium, .origam-grid_size-4of10--medium {
    width: 40%;
  }

  .origam-grid_size-3of5--medium, .origam-grid_size-6of10--medium {
    width: 60%;
  }

  .origam-grid_size-4of5--medium, .origam-grid_size-8of10--medium {
    width: 80%;
  }

  .origam-grid_size-1of6--medium, .origam-grid_size-2of12--medium {
    width: 16.66667%;
  }

  .origam-grid_size-5of6--medium, .origam-grid_size-10of12--medium {
    width: 83.33333%;
  }

  .origam-grid_size-1of7--medium {
    width: 14.28571%;
  }

  .origam-grid_size-2of7--medium {
    width: 28.57143%;
  }

  .origam-grid_size-3of7--medium {
    width: 42.85714%;
  }

  .origam-grid_size-4of7--medium {
    width: 57.14286%;
  }

  .origam-grid_size-5of7--medium {
    width: 71.42857%;
  }

  .origam-grid_size-6of7--medium {
    width: 85.71429%;
  }

  .origam-grid_size-1of8--medium {
    width: 12.5%;
  }

  .origam-grid_size-3of8--medium {
    width: 37.5%;
  }

  .origam-grid_size-5of8--medium {
    width: 62.5%;
  }

  .origam-grid_size-7of8--medium {
    width: 87.5%;
  }

  .origam-grid_size-1of9--medium {
    width: 11.11111%;
  }

  .origam-grid_size-2of9--medium {
    width: 22.22222%;
  }

  .origam-grid_size-4of9--medium {
    width: 44.44444%;
  }

  .origam-grid_size-5of9--medium {
    width: 55.55556%;
  }

  .origam-grid_size-7of9--medium {
    width: 77.77778%;
  }

  .origam-grid_size-8of9--medium {
    width: 88.88889%;
  }

  .origam-grid_size-1of10--medium {
    width: 10%;
  }

  .origam-grid_size-3of10--medium {
    width: 30%;
  }

  .origam-grid_size-7of10--medium {
    width: 70%;
  }

  .origam-grid_size-9of10--medium {
    width: 90%;
  }

  .origam-grid_size-1of11--medium {
    width: 9.09091%;
  }

  .origam-grid_size-2of11--medium {
    width: 18.18182%;
  }

  .origam-grid_size-3of11--medium {
    width: 27.27273%;
  }

  .origam-grid_size-4of11--medium {
    width: 36.36364%;
  }

  .origam-grid_size-5of11--medium {
    width: 45.45455%;
  }

  .origam-grid_size-6of11--medium {
    width: 54.54545%;
  }

  .origam-grid_size-7of11--medium {
    width: 63.63636%;
  }

  .origam-grid_size-8of11--medium {
    width: 72.72727%;
  }

  .origam-grid_size-9of11--medium {
    width: 81.81818%;
  }

  .origam-grid_size-10of11--medium {
    width: 90.90909%;
  }

  .origam-grid_size-1of12--medium {
    width: 8.33333%;
  }

  .origam-grid_size-5of12--medium {
    width: 41.66667%;
  }

  .origam-grid_size-7of12--medium {
    width: 58.33333%;
  }

  .origam-grid_size-11of12--medium {
    width: 91.66667%;
  }
}
/*********** Origam Grid small layout **************/
@media (min-width: 481px) {
  body:after {
    display: none;
    content: "small";
  }

  .origam-grid_hidden--small {
    display: none !important;
  }

  .origam-grid_size-1of1--small, .origam-grid_size-2of2--small, .origam-grid_size-3of3--small, .origam-grid_size-4of4--small, .origam-grid_size-5of5--small, .origam-grid_size-6of6--small, .origam-grid_size-7of7--small, .origam-grid_size-8of8--small, .origam-grid_size-9of9--small, .origam-grid_size-10of10--small, .origam-grid_size-11of11--small, .origam-grid_size-12of12--small {
    width: 100%;
  }

  .origam-grid_size-1of2--small, .origam-grid_size-2of4--small, .origam-grid_size-3of6--small, .origam-grid_size-4of8--small, .origam-grid_size-5of10--small, .origam-grid_size-6of12--small {
    width: 50%;
  }

  .origam-grid_size-1of3--small, .origam-grid_size-2of6--small, .origam-grid_size-3of9--small, .origam-grid_size-4of12--small {
    width: 33.33333%;
  }

  .origam-grid_size-2of3--small, .origam-grid_size-4of6--small, .origam-grid_size-6of9--small, .origam-grid_size-8of12--small {
    width: 66.66667%;
  }

  .origam-grid_size-1of4--small, .origam-grid_size-2of8--small, .origam-grid_size-3of12--small {
    width: 25%;
  }

  .origam-grid_size-3of4--small, .origam-grid_size-6of8--small, .origam-grid_size-9of12--small {
    width: 75%;
  }

  .origam-grid_size-1of5--small, .origam-grid_size-2of10--small {
    width: 20%;
  }

  .origam-grid_size-2of5--small, .origam-grid_size-4of10--small {
    width: 40%;
  }

  .origam-grid_size-3of5--small, .origam-grid_size-6of10--small {
    width: 60%;
  }

  .origam-grid_size-4of5--small, .origam-grid_size-8of10--small {
    width: 80%;
  }

  .origam-grid_size-1of6--small, .origam-grid_size-2of12--small {
    width: 16.66667%;
  }

  .origam-grid_size-5of6--small, .origam-grid_size-10of12--small {
    width: 83.33333%;
  }

  .origam-grid_size-1of7--small {
    width: 14.28571%;
  }

  .origam-grid_size-2of7--small {
    width: 28.57143%;
  }

  .origam-grid_size-3of7--small {
    width: 42.85714%;
  }

  .origam-grid_size-4of7--small {
    width: 57.14286%;
  }

  .origam-grid_size-5of7--small {
    width: 71.42857%;
  }

  .origam-grid_size-6of7--small {
    width: 85.71429%;
  }

  .origam-grid_size-1of8--small {
    width: 12.5%;
  }

  .origam-grid_size-3of8--small {
    width: 37.5%;
  }

  .origam-grid_size-5of8--small {
    width: 62.5%;
  }

  .origam-grid_size-7of8--small {
    width: 87.5%;
  }

  .origam-grid_size-1of9--small {
    width: 11.11111%;
  }

  .origam-grid_size-2of9--small {
    width: 22.22222%;
  }

  .origam-grid_size-4of9--small {
    width: 44.44444%;
  }

  .origam-grid_size-5of9--small {
    width: 55.55556%;
  }

  .origam-grid_size-7of9--small {
    width: 77.77778%;
  }

  .origam-grid_size-8of9--small {
    width: 88.88889%;
  }

  .origam-grid_size-1of10--small {
    width: 10%;
  }

  .origam-grid_size-3of10--small {
    width: 30%;
  }

  .origam-grid_size-7of10--small {
    width: 70%;
  }

  .origam-grid_size-9of10--small {
    width: 90%;
  }

  .origam-grid_size-1of11--small {
    width: 9.09091%;
  }

  .origam-grid_size-2of11--small {
    width: 18.18182%;
  }

  .origam-grid_size-3of11--small {
    width: 27.27273%;
  }

  .origam-grid_size-4of11--small {
    width: 36.36364%;
  }

  .origam-grid_size-5of11--small {
    width: 45.45455%;
  }

  .origam-grid_size-6of11--small {
    width: 54.54545%;
  }

  .origam-grid_size-7of11--small {
    width: 63.63636%;
  }

  .origam-grid_size-8of11--small {
    width: 72.72727%;
  }

  .origam-grid_size-9of11--small {
    width: 81.81818%;
  }

  .origam-grid_size-10of11--small {
    width: 90.90909%;
  }

  .origam-grid_size-1of12--small {
    width: 8.33333%;
  }

  .origam-grid_size-5of12--small {
    width: 41.66667%;
  }

  .origam-grid_size-7of12--small {
    width: 58.33333%;
  }

  .origam-grid_size-11of12--small {
    width: 91.66667%;
  }
}
/*********** Origam Grid xlarge layout **************/
@media (min-width: 1271px) {
  body:after {
    display: none;
    content: "xlarge";
  }

  .origam-grid_hidden--xlarge {
    display: none !important;
  }

  .origam-grid_size-1of1--xlarge, .origam-grid_size-2of2--xlarge, .origam-grid_size-3of3--xlarge, .origam-grid_size-4of4--xlarge, .origam-grid_size-5of5--xlarge, .origam-grid_size-6of6--xlarge, .origam-grid_size-7of7--xlarge, .origam-grid_size-8of8--xlarge, .origam-grid_size-9of9--xlarge, .origam-grid_size-10of10--xlarge, .origam-grid_size-11of11--xlarge, .origam-grid_size-12of12--xlarge {
    width: 100%;
  }

  .origam-grid_size-1of2--xlarge, .origam-grid_size-2of4--xlarge, .origam-grid_size-3of6--xlarge, .origam-grid_size-4of8--xlarge, .origam-grid_size-5of10--xlarge, .origam-grid_size-6of12--xlarge {
    width: 50%;
  }

  .origam-grid_size-1of3--xlarge, .origam-grid_size-2of6--xlarge, .origam-grid_size-3of9--xlarge, .origam-grid_size-4of12--xlarge {
    width: 33.33333%;
  }

  .origam-grid_size-2of3--xlarge, .origam-grid_size-4of6--xlarge, .origam-grid_size-6of9--xlarge, .origam-grid_size-8of12--xlarge {
    width: 66.66667%;
  }

  .origam-grid_size-1of4--xlarge, .origam-grid_size-2of8--xlarge, .origam-grid_size-3of12--xlarge {
    width: 25%;
  }

  .origam-grid_size-3of4--xlarge, .origam-grid_size-6of8--xlarge, .origam-grid_size-9of12--xlarge {
    width: 75%;
  }

  .origam-grid_size-1of5--xlarge, .origam-grid_size-2of10--xlarge {
    width: 20%;
  }

  .origam-grid_size-2of5--xlarge, .origam-grid_size-4of10--xlarge {
    width: 40%;
  }

  .origam-grid_size-3of5--xlarge, .origam-grid_size-6of10--xlarge {
    width: 60%;
  }

  .origam-grid_size-4of5--xlarge, .origam-grid_size-8of10--xlarge {
    width: 80%;
  }

  .origam-grid_size-1of6--xlarge, .origam-grid_size-2of12--xlarge {
    width: 16.66667%;
  }

  .origam-grid_size-5of6--xlarge, .origam-grid_size-10of12--xlarge {
    width: 83.33333%;
  }

  .origam-grid_size-1of7--xlarge {
    width: 14.28571%;
  }

  .origam-grid_size-2of7--xlarge {
    width: 28.57143%;
  }

  .origam-grid_size-3of7--xlarge {
    width: 42.85714%;
  }

  .origam-grid_size-4of7--xlarge {
    width: 57.14286%;
  }

  .origam-grid_size-5of7--xlarge {
    width: 71.42857%;
  }

  .origam-grid_size-6of7--xlarge {
    width: 85.71429%;
  }

  .origam-grid_size-1of8--xlarge {
    width: 12.5%;
  }

  .origam-grid_size-3of8--xlarge {
    width: 37.5%;
  }

  .origam-grid_size-5of8--xlarge {
    width: 62.5%;
  }

  .origam-grid_size-7of8--xlarge {
    width: 87.5%;
  }

  .origam-grid_size-1of9--xlarge {
    width: 11.11111%;
  }

  .origam-grid_size-2of9--xlarge {
    width: 22.22222%;
  }

  .origam-grid_size-4of9--xlarge {
    width: 44.44444%;
  }

  .origam-grid_size-5of9--xlarge {
    width: 55.55556%;
  }

  .origam-grid_size-7of9--xlarge {
    width: 77.77778%;
  }

  .origam-grid_size-8of9--xlarge {
    width: 88.88889%;
  }

  .origam-grid_size-1of10--xlarge {
    width: 10%;
  }

  .origam-grid_size-3of10--xlarge {
    width: 30%;
  }

  .origam-grid_size-7of10--xlarge {
    width: 70%;
  }

  .origam-grid_size-9of10--xlarge {
    width: 90%;
  }

  .origam-grid_size-1of11--xlarge {
    width: 9.09091%;
  }

  .origam-grid_size-2of11--xlarge {
    width: 18.18182%;
  }

  .origam-grid_size-3of11--xlarge {
    width: 27.27273%;
  }

  .origam-grid_size-4of11--xlarge {
    width: 36.36364%;
  }

  .origam-grid_size-5of11--xlarge {
    width: 45.45455%;
  }

  .origam-grid_size-6of11--xlarge {
    width: 54.54545%;
  }

  .origam-grid_size-7of11--xlarge {
    width: 63.63636%;
  }

  .origam-grid_size-8of11--xlarge {
    width: 72.72727%;
  }

  .origam-grid_size-9of11--xlarge {
    width: 81.81818%;
  }

  .origam-grid_size-10of11--xlarge {
    width: 90.90909%;
  }

  .origam-grid_size-1of12--xlarge {
    width: 8.33333%;
  }

  .origam-grid_size-5of12--xlarge {
    width: 41.66667%;
  }

  .origam-grid_size-7of12--xlarge {
    width: 58.33333%;
  }

  .origam-grid_size-11of12--xlarge {
    width: 91.66667%;
  }
}
/*********** Origam Grid xsmall layout **************/
@media (max-width: 480px) {
  body:after {
    display: none;
    content: "xsmall";
  }

  .origam-grid_hidden--xxsmall {
    display: none !important;
  }

  .origam-grid_size-1of1--xsmall, .origam-grid_size-2of2--xsmall, .origam-grid_size-3of3--xsmall, .origam-grid_size-4of4--xsmall, .origam-grid_size-5of5--xsmall, .origam-grid_size-6of6--xsmall, .origam-grid_size-7of7--xsmall, .origam-grid_size-8of8--xsmall, .origam-grid_size-9of9--xsmall, .origam-grid_size-10of10--xsmall, .origam-grid_size-11of11--xsmall, .origam-grid_size-12of12--xsmall {
    width: 100%;
  }

  .origam-grid_size-1of2--xsmall, .origam-grid_size-2of4--xsmall, .origam-grid_size-3of6--xsmall, .origam-grid_size-4of8--xsmall, .origam-grid_size-5of10--xsmall, .origam-grid_size-6of12--xsmall {
    width: 50%;
  }

  .origam-grid_size-1of3--xsmall, .origam-grid_size-2of6--xsmall, .origam-grid_size-3of9--xsmall, .origam-grid_size-4of12--xsmall {
    width: 33.33333%;
  }

  .origam-grid_size-2of3--xsmall, .origam-grid_size-4of6--xsmall, .origam-grid_size-6of9--xsmall, .origam-grid_size-8of12--xsmall {
    width: 66.66667%;
  }

  .origam-grid_size-1of4--xsmall, .origam-grid_size-2of8--xsmall, .origam-grid_size-3of12--xsmall {
    width: 25%;
  }

  .origam-grid_size-3of4--xsmall, .origam-grid_size-6of8--xsmall, .origam-grid_size-9of12--xsmall {
    width: 75%;
  }

  .origam-grid_size-1of5--xsmall, .origam-grid_size-2of10--xsmall {
    width: 20%;
  }

  .origam-grid_size-2of5--xsmall, .origam-grid_size-4of10--xsmall {
    width: 40%;
  }

  .origam-grid_size-3of5--xsmall, .origam-grid_size-6of10--xsmall {
    width: 60%;
  }

  .origam-grid_size-4of5--xsmall, .origam-grid_size-8of10--xsmall {
    width: 80%;
  }

  .origam-grid_size-1of6--xsmall, .origam-grid_size-2of12--xsmall {
    width: 16.66667%;
  }

  .origam-grid_size-5of6--xsmall, .origam-grid_size-10of12--xsmall {
    width: 83.33333%;
  }

  .origam-grid_size-1of7--xsmall {
    width: 14.28571%;
  }

  .origam-grid_size-2of7--xsmall {
    width: 28.57143%;
  }

  .origam-grid_size-3of7--xsmall {
    width: 42.85714%;
  }

  .origam-grid_size-4of7--xsmall {
    width: 57.14286%;
  }

  .origam-grid_size-5of7--xsmall {
    width: 71.42857%;
  }

  .origam-grid_size-6of7--xsmall {
    width: 85.71429%;
  }

  .origam-grid_size-1of8--xsmall {
    width: 12.5%;
  }

  .origam-grid_size-3of8--xsmall {
    width: 37.5%;
  }

  .origam-grid_size-5of8--xsmall {
    width: 62.5%;
  }

  .origam-grid_size-7of8--xsmall {
    width: 87.5%;
  }

  .origam-grid_size-1of9--xsmall {
    width: 11.11111%;
  }

  .origam-grid_size-2of9--xsmall {
    width: 22.22222%;
  }

  .origam-grid_size-4of9--xsmall {
    width: 44.44444%;
  }

  .origam-grid_size-5of9--xsmall {
    width: 55.55556%;
  }

  .origam-grid_size-7of9--xsmall {
    width: 77.77778%;
  }

  .origam-grid_size-8of9--xsmall {
    width: 88.88889%;
  }

  .origam-grid_size-1of10--xsmall {
    width: 10%;
  }

  .origam-grid_size-3of10--xsmall {
    width: 30%;
  }

  .origam-grid_size-7of10--xsmall {
    width: 70%;
  }

  .origam-grid_size-9of10--xsmall {
    width: 90%;
  }

  .origam-grid_size-1of11--xsmall {
    width: 9.09091%;
  }

  .origam-grid_size-2of11--xsmall {
    width: 18.18182%;
  }

  .origam-grid_size-3of11--xsmall {
    width: 27.27273%;
  }

  .origam-grid_size-4of11--xsmall {
    width: 36.36364%;
  }

  .origam-grid_size-5of11--xsmall {
    width: 45.45455%;
  }

  .origam-grid_size-6of11--xsmall {
    width: 54.54545%;
  }

  .origam-grid_size-7of11--xsmall {
    width: 63.63636%;
  }

  .origam-grid_size-8of11--xsmall {
    width: 72.72727%;
  }

  .origam-grid_size-9of11--xsmall {
    width: 81.81818%;
  }

  .origam-grid_size-10of11--xsmall {
    width: 90.90909%;
  }

  .origam-grid_size-1of12--xsmall {
    width: 8.33333%;
  }

  .origam-grid_size-5of12--xsmall {
    width: 41.66667%;
  }

  .origam-grid_size-7of12--xsmall {
    width: 58.33333%;
  }

  .origam-grid_size-11of12--xsmall {
    width: 91.66667%;
  }
}
