/*
 * Examples
 *
 * Isolated sections of example content for each component or feature. Usually
 * followed by a code snippet.
 */

.origam-example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
/* Echo out a label for the example */
.origam-example:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
}

.origam-example.origam-example-limited{
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.origam-example .origam-grid__cell{
    padding-top: 0.71429em;
    padding-bottom: 0.71429em;
}

.example-color-box{
    border: 2px solid #607D8B;
    background-color: #B0BEC5;
    padding: 10px 16px;
}

.icon .origam-size-1of12 .origam-size-1of1:not(:first-child) {
    font-size: 70%;
}

@media (min-width: 768px) {
    .origam-example {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border-color: #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}