/**
  * Tables
  */

table {
  background-color: $table-bg;
}
caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: $blue-grey-200;
  text-align: left;
}
th {
  text-align: left;
}


// Baseline styles

.table {
  margin-bottom: $line-height-computed;

  caption {
    margin: $padding-small-vertical $padding-small-horizontal;
    @include font-size($base-font-size);
    font-weight: 600;
    color: $base-text-color;
    text-align: left;
  }

  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: $body-bg;
  }
}

.table-block{
  width: 100%;
  max-width: 100%;
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background-color: $table-bg-hover;
  }
}

/**
  * Responsive table
  */

.responsivetable-toggle{
  color: $black-3;
  cursor: pointer;
  @include position(relative);
  span {
    @include size(100%, 100%);
    @include position(absolute, 0, null, null, 0);
    text-align: center;
    line-height: 200%;
  }

  &:hover {
    color: $black-2;
  }
}

.responsivetable-row-detail-cell{
  background-color: $table-bg-hover;
  overflow: hidden;
}

.responsivetable-row-detail-inner {
  display: table;
}

.responsivetable-row-detail-row {
  display: table-row;
  line-height: 1.5em;
}

.responsivetable-row-detail-group {
  display: block;
  line-height: 2em;
  font-size: 1.2em;
  font-weight: bold;
}

.responsivetable-row-detail-name {
  display: table-cell;
  font-weight: bold;
  padding-right: 0.5em;
}

.responsivetable-row-detail-value {
  display: table-cell;
}

.responsivetable > thead > tr {
  & > th {
    &.responsivetable-sortable{
      padding-right: 24px;
      @include position(relative);

      &:hover {
        cursor: pointer;
      }
    }
    .responsivetable-sort-indicator {
      @include position(absolute,50%, 8px, null, null);
      @include translateY(-50%);
    }
  }
}