/**
 *
 */
@media (max-width: $origam-sm) {
  .origam-size-1of1--small, .origam-size-2of2--small, .origam-size-3of3--small, .origam-size-4of4--small, .origam-size-5of5--small, .origam-size-6of6--small, .origam-size-7of7--small, .origam-size-8of8--small, .origam-size-9of9--small, .origam-size-10of10--small, .origam-size-11of11--small, .origam-size-12of12--small {
    width: grid-size(1, 1);
  }
  .origam-size-1of2--small, .origam-size-2of4--small, .origam-size-3of6--small, .origam-size-4of8--small, .origam-size-5of10--small, .origam-size-6of12--small {
    width: grid-size(1, 2);
  }
  .origam-size-1of3--small, .origam-size-2of6--small, .origam-size-3of9--small, .origam-size-4of12--small {
    width: grid-size(1, 3);
  }
  .origam-size-2of3--small, .origam-size-4of6--small, .origam-size-6of9--small, .origam-size-8of12--small {
    width: grid-size(2, 3);
  }
  .origam-size-1of4--small, .origam-size-2of8--small, .origam-size-3of12--small {
    width: grid-size(1, 4);
  }
  .origam-size-3of4--small, .origam-size-6of8--small, .origam-size-9of12--small {
    width: grid-size(3, 4);
  }
  .origam-size-1of5--small, .origam-size-2of10--small {
    width: grid-size(1, 5);
  }
  .origam-size-2of5--small, .origam-size-4of10--small {
    width: grid-size(2, 5);
  }
  .origam-size-3of5--small, .origam-size-6of10--small {
    width: grid-size(3, 5);
  }
  .origam-size-4of5--small, .origam-size-8of10--small {
    width: grid-size(4, 5);
  }
  .origam-size-1of6--small, .origam-size-2of12--small {
    width: grid-size(1, 6);
  }
  .origam-size-5of6--small, .origam-size-10of12--small {
    width: grid-size(5, 6);;
  }
  .origam-size-1of7--small {
    width: grid-size(1, 7);
  }
  .origam-size-2of7--small {
    width: grid-size(2, 7);
  }
  .origam-size-3of7--small {
    width: grid-size(3, 7);
  }
  .origam-size-4of7--small {
    width: grid-size(4, 7);
  }
  .origam-size-5of7--small {
    width: grid-size(5, 7);
  }
  .origam-size-6of7--small {
    width: grid-size(6, 7);
  }
  .origam-size-1of8--small {
    width: grid-size(1, 8);
  }
  .origam-size-3of8--small {
    width: grid-size(3, 8);
  }
  .origam-size-5of8--small {
    width: grid-size(5, 8);
  }
  .origam-size-7of8--small {
    width: grid-size(7, 8);
  }
  .origam-size-1of9--small {
    width: grid-size(1, 9);
  }
  .origam-size-2of9--small {
    width: grid-size(2, 9);
  }
  .origam-size-4of9--small {
    width: grid-size(4, 9);
  }
  .origam-size-5of9--small {
    width: grid-size(5, 9);
  }
  .origam-size-7of9--small {
    width: grid-size(7, 9);
  }
  .origam-size-8of9--small {
    width: grid-size(8, 9);
  }
  .origam-size-1of10--small {
    width: grid-size(1, 10);
  }
  .origam-size-3of10--small {
    width: grid-size(3, 10);
  }
  .origam-size-7of10--small {
    width: grid-size(7, 10);
  }
  .origam-size-9of10--small {
    width: grid-size(9, 10);
  }
  .origam-size-1of11--small {
    width: grid-size(1, 11);
  }
  .origam-size-2of11--small {
    width: grid-size(2, 11);
  }
  .origam-size-3of11--small {
    width: grid-size(3, 11);
  }
  .origam-size-4of11--small {
    width: grid-size(4, 11);
  }
  .origam-size-5of11--small {
    width: grid-size(5, 11);
  }
  .origam-size-6of11--small {
    width: grid-size(6, 11);
  }
  .origam-size-7of11--small {
    width: grid-size(7, 11);
  }
  .origam-size-8of11--small {
    width: grid-size(8, 11);
  }
  .origam-size-9of11--small {
    width: grid-size(9, 11);
  }
  .origam-size-10of11--small {
    width: grid-size(10, 11);
  }
  .origam-size-1of12--small {
    width: grid-size(1, 12);
  }
  .origam-size-5of12--small {
    width: grid-size(5, 12);
  }
  .origam-size-7of12--small {
    width: grid-size(7, 12);
  }
  .origam-size-11of12--small {
    width: grid-size(11, 12);
  }
}