// Background color

// 500
.bdc-red-500                 {   border-color: $red-500 !important;           }
.bdc-pink-500                {   border-color: $pink-500 !important;          }
.bdc-purple-500              {   border-color: $purple-500 !important;        }
.bdc-deep-purple-500         {   border-color: $deep-purple-500 !important;   }
.bdc-indigo-500              {   border-color: $indigo-500 !important;        }
.bdc-blue-500                {   border-color: $blue-500 !important;          }
.bdc-light-blue-500          {   border-color: $light-blue-500 !important;    }
.bdc-teal-500                {   border-color: $teal-500 !important;          }
.bdc-green-500               {   border-color: $green-500 !important;         }
.bdc-light-green-500         {   border-color: $light-green-500 !important;   }
.bdc-lime-500                {   border-color: $lime-500 !important;          }
.bdc-yellow-500              {   border-color: $yellow-500 !important;        }
.bdc-amber-500               {   border-color: $amber-500 !important;         }
.bdc-orange-500              {   border-color: $orange-500 !important;        }
.bdc-deep-orange-500         {   border-color: $deep-orange-500 !important;   }
.bdc-brown-500               {   border-color: $brown-500 !important;         }
.bdc-grey-500                {   border-color: $grey-500 !important;          }
.bdc-blue-grey-500           {   border-color: $blue-grey-500 !important;     }

// 50
.bdc-red-50                  {   border-color: $red-50 !important;            }
.bdc-pink-50                 {   border-color: $pink-50 !important;           }
.bdc-purple-50               {   border-color: $purple-50 !important;         }
.bdc-deep-purple-50          {   border-color: $deep-purple-50 !important;    }
.bdc-indigo-50               {   border-color: $indigo-50 !important;         }
.bdc-blue-50                 {   border-color: $blue-50 !important;           }
.bdc-light-blue-50           {   border-color: $light-blue-50 !important;     }
.bdc-teal-50                 {   border-color: $teal-50 !important;           }
.bdc-green-50                {   border-color: $green-50 !important;          }
.bdc-light-green-50          {   border-color: $light-green-50 !important;    }
.bdc-lime-50                 {   border-color: $lime-50 !important;           }
.bdc-yellow-50               {   border-color: $yellow-50 !important;         }
.bdc-amber-50                {   border-color: $amber-50 !important;          }
.bdc-orange-50               {   border-color: $orange-50 !important;         }
.bdc-deep-orange-50          {   border-color: $deep-orange-50 !important;    }
.bdc-brown-50                {   border-color: $brown-50 !important;          }
.bdc-grey-50                 {   border-color: $grey-50 !important;           }
.bdc-blue-grey-50            {   border-color: $blue-grey-50 !important;      }

// 100
.bdc-red-100                 {   border-color: $red-100 !important;           }
.bdc-pink-100                {   border-color: $pink-100 !important;          }
.bdc-purple-100              {   border-color: $purple-100 !important;        }
.bdc-deep-purple-100         {   border-color: $deep-purple-100 !important;   }
.bdc-indigo-100              {   border-color: $indigo-100 !important;        }
.bdc-blue-100                {   border-color: $blue-100 !important;          }
.bdc-light-blue-100          {   border-color: $light-blue-100 !important;    }
.bdc-teal-100                {   border-color: $teal-100 !important;          }
.bdc-green-100               {   border-color: $green-100 !important;         }
.bdc-light-green-100         {   border-color: $light-green-100 !important;   }
.bdc-lime-100                {   border-color: $lime-100 !important;          }
.bdc-yellow-100              {   border-color: $yellow-100 !important;        }
.bdc-amber-100               {   border-color: $amber-100 !important;         }
.bdc-orange-100              {   border-color: $orange-100 !important;        }
.bdc-deep-orange-100         {   border-color: $deep-orange-100 !important;   }
.bdc-brown-100               {   border-color: $brown-100 !important;         }
.bdc-grey-100                {   border-color: $grey-100 !important;          }
.bdc-blue-grey-100           {   border-color: $blue-grey-100 !important;     }

// 200
.bdc-red-200                 {   border-color: $red-200 !important;           }
.bdc-pink-200                {   border-color: $pink-200 !important;          }
.bdc-purple-200              {   border-color: $purple-200 !important;        }
.bdc-deep-purple-200         {   border-color: $deep-purple-200 !important;   }
.bdc-indigo-200              {   border-color: $indigo-200 !important;        }
.bdc-blue-200                {   border-color: $blue-200 !important;          }
.bdc-light-blue-200          {   border-color: $light-blue-200 !important;    }
.bdc-teal-200                {   border-color: $teal-200 !important;          }
.bdc-green-200               {   border-color: $green-200 !important;         }
.bdc-light-green-200         {   border-color: $light-green-200 !important;   }
.bdc-lime-200                {   border-color: $lime-200 !important;          }
.bdc-yellow-200              {   border-color: $yellow-200 !important;        }
.bdc-amber-200               {   border-color: $amber-200 !important;         }
.bdc-orange-200              {   border-color: $orange-200 !important;        }
.bdc-deep-orange-200         {   border-color: $deep-orange-200 !important;   }
.bdc-brown-200               {   border-color: $brown-200 !important;         }
.bdc-grey-200                {   border-color: $grey-200 !important;          }
.bdc-blue-grey-200           {   border-color: $blue-grey-200 !important;     }

// 300
.bdc-red-300                 {   border-color: $red-300 !important;           }
.bdc-pink-300                {   border-color: $pink-300 !important;          }
.bdc-purple-300              {   border-color: $purple-300 !important;        }
.bdc-deep-purple-300         {   border-color: $deep-purple-300 !important;   }
.bdc-indigo-300              {   border-color: $indigo-300 !important;        }
.bdc-blue-300                {   border-color: $blue-300 !important;          }
.bdc-light-blue-300          {   border-color: $light-blue-300 !important;    }
.bdc-teal-300                {   border-color: $teal-300 !important;          }
.bdc-green-300               {   border-color: $green-300 !important;         }
.bdc-light-green-300         {   border-color: $light-green-300 !important;   }
.bdc-lime-300                {   border-color: $lime-300 !important;          }
.bdc-yellow-300              {   border-color: $yellow-300 !important;        }
.bdc-amber-300               {   border-color: $amber-300 !important;         }
.bdc-orange-300              {   border-color: $orange-300 !important;        }
.bdc-deep-orange-300         {   border-color: $deep-orange-300 !important;   }
.bdc-brown-300               {   border-color: $brown-300 !important;         }
.bdc-grey-300                {   border-color: $grey-300 !important;          }
.bdc-blue-grey-300           {   border-color: $blue-grey-300 !important;     }

// 400
.bdc-red-400                 {   border-color: $red-400 !important;           }
.bdc-pink-400                {   border-color: $pink-400 !important;          }
.bdc-purple-400              {   border-color: $purple-400 !important;        }
.bdc-deep-purple-400         {   border-color: $deep-purple-400 !important;   }
.bdc-indigo-400              {   border-color: $indigo-400 !important;        }
.bdc-blue-400                {   border-color: $blue-400 !important;          }
.bdc-light-blue-400          {   border-color: $light-blue-400 !important;    }
.bdc-teal-400                {   border-color: $teal-400 !important;          }
.bdc-green-400               {   border-color: $green-400 !important;         }
.bdc-light-green-400         {   border-color: $light-green-400 !important;   }
.bdc-lime-400                {   border-color: $lime-400 !important;          }
.bdc-yellow-400              {   border-color: $yellow-400 !important;        }
.bdc-amber-400               {   border-color: $amber-400 !important;         }
.bdc-orange-400              {   border-color: $orange-400 !important;        }
.bdc-deep-orange-400         {   border-color: $deep-orange-400 !important;   }
.bdc-brown-400               {   border-color: $brown-400 !important;         }
.bdc-grey-400                {   border-color: $grey-400 !important;          }
.bdc-blue-grey-400           {   border-color: $blue-grey-400 !important;     }

// 500
.bdc-red-500                 {   border-color: $red-500 !important;           }
.bdc-pink-500                {   border-color: $pink-500 !important;          }
.bdc-purple-500              {   border-color: $purple-500 !important;        }
.bdc-deep-purple-500         {   border-color: $deep-purple-500 !important;   }
.bdc-indigo-500              {   border-color: $indigo-500 !important;        }
.bdc-blue-500                {   border-color: $blue-500 !important;          }
.bdc-light-blue-500          {   border-color: $light-blue-500 !important;    }
.bdc-teal-500                {   border-color: $teal-500 !important;          }
.bdc-green-500               {   border-color: $green-500 !important;         }
.bdc-light-green-500         {   border-color: $light-green-500 !important;   }
.bdc-lime-500                {   border-color: $lime-500 !important;          }
.bdc-yellow-500              {   border-color: $yellow-500 !important;        }
.bdc-amber-500               {   border-color: $amber-500 !important;         }
.bdc-orange-500              {   border-color: $orange-500 !important;        }
.bdc-deep-orange-500         {   border-color: $deep-orange-500 !important;   }
.bdc-brown-500               {   border-color: $brown-500 !important;         }
.bdc-grey-500                {   border-color: $grey-500 !important;          }
.bdc-blue-grey-500           {   border-color: $blue-grey-500 !important;     }

// 600
.bdc-red-600                 {   border-color: $red-600 !important;           }
.bdc-pink-600                {   border-color: $pink-600 !important;          }
.bdc-purple-600              {   border-color: $purple-600 !important;        }
.bdc-deep-purple-600         {   border-color: $deep-purple-600 !important;   }
.bdc-indigo-600              {   border-color: $indigo-600 !important;        }
.bdc-blue-600                {   border-color: $blue-600 !important;          }
.bdc-light-blue-600          {   border-color: $light-blue-600 !important;    }
.bdc-teal-600                {   border-color: $teal-600 !important;          }
.bdc-green-600               {   border-color: $green-600 !important;         }
.bdc-light-green-600         {   border-color: $light-green-600 !important;   }
.bdc-lime-600                {   border-color: $lime-600 !important;          }
.bdc-yellow-600              {   border-color: $yellow-600 !important;        }
.bdc-amber-600               {   border-color: $amber-600 !important;         }
.bdc-orange-600              {   border-color: $orange-600 !important;        }
.bdc-deep-orange-600         {   border-color: $deep-orange-600 !important;   }
.bdc-brown-600               {   border-color: $brown-600 !important;         }
.bdc-grey-600                {   border-color: $grey-600 !important;          }
.bdc-blue-grey-600           {   border-color: $blue-grey-600 !important;     }

// 700
.bdc-red-700                 {   border-color: $red-700 !important;           }
.bdc-pink-700                {   border-color: $pink-700 !important;          }
.bdc-purple-700              {   border-color: $purple-700 !important;        }
.bdc-deep-purple-700         {   border-color: $deep-purple-700 !important;   }
.bdc-indigo-700              {   border-color: $indigo-700 !important;        }
.bdc-blue-700                {   border-color: $blue-700 !important;          }
.bdc-light-blue-700          {   border-color: $light-blue-700 !important;    }
.bdc-teal-700                {   border-color: $teal-700 !important;          }
.bdc-green-700               {   border-color: $green-700 !important;         }
.bdc-light-green-700         {   border-color: $light-green-700 !important;   }
.bdc-lime-700                {   border-color: $lime-700 !important;          }
.bdc-yellow-700              {   border-color: $yellow-700 !important;        }
.bdc-amber-700               {   border-color: $amber-700 !important;         }
.bdc-orange-700              {   border-color: $orange-700 !important;        }
.bdc-deep-orange-700         {   border-color: $deep-orange-700 !important;   }
.bdc-brown-700               {   border-color: $brown-700 !important;         }
.bdc-grey-700                {   border-color: $grey-700 !important;          }
.bdc-blue-grey-700           {   border-color: $blue-grey-700 !important;     }

// 800
.bdc-red-800                 {   border-color: $red-800 !important;           }
.bdc-pink-800                {   border-color: $pink-800 !important;          }
.bdc-purple-800              {   border-color: $purple-800 !important;        }
.bdc-deep-purple-800         {   border-color: $deep-purple-800 !important;   }
.bdc-indigo-800              {   border-color: $indigo-800 !important;        }
.bdc-blue-800                {   border-color: $blue-800 !important;          }
.bdc-light-blue-800          {   border-color: $light-blue-800 !important;    }
.bdc-teal-800                {   border-color: $teal-800 !important;          }
.bdc-green-800               {   border-color: $green-800 !important;         }
.bdc-light-green-800         {   border-color: $light-green-800 !important;   }
.bdc-lime-800                {   border-color: $lime-800 !important;          }
.bdc-yellow-800              {   border-color: $yellow-800 !important;        }
.bdc-amber-800               {   border-color: $amber-800 !important;         }
.bdc-orange-800              {   border-color: $orange-800 !important;        }
.bdc-deep-orange-800         {   border-color: $deep-orange-800 !important;   }
.bdc-brown-800               {   border-color: $brown-800 !important;         }
.bdc-grey-800                {   border-color: $grey-800 !important;          }
.bdc-blue-grey-800           {   border-color: $blue-grey-800 !important;     }

// 900
.bdc-red-900                 {   border-color: $red-900 !important;           }
.bdc-pink-900                {   border-color: $pink-900 !important;          }
.bdc-purple-900              {   border-color: $purple-900 !important;        }
.bdc-deep-purple-900         {   border-color: $deep-purple-900 !important;   }
.bdc-indigo-900              {   border-color: $indigo-900 !important;        }
.bdc-blue-900                {   border-color: $blue-900 !important;          }
.bdc-light-blue-900          {   border-color: $light-blue-900 !important;    }
.bdc-teal-900                {   border-color: $teal-900 !important;          }
.bdc-green-900               {   border-color: $green-900 !important;         }
.bdc-light-green-900         {   border-color: $light-green-900 !important;   }
.bdc-lime-900                {   border-color: $lime-900 !important;          }
.bdc-yellow-900              {   border-color: $yellow-900 !important;        }
.bdc-amber-900               {   border-color: $amber-900 !important;         }
.bdc-orange-900              {   border-color: $orange-900 !important;        }
.bdc-deep-orange-900         {   border-color: $deep-orange-900 !important;   }
.bdc-brown-900               {   border-color: $brown-900 !important;         }
.bdc-grey-900                {   border-color: $grey-900 !important;          }
.bdc-blue-grey-900           {   border-color: $blue-grey-900 !important;     }

// A100
.bdc-red-A100                {   border-color: $red-A100 !important;          }
.bdc-pink-A100               {   border-color: $pink-A100 !important;         }
.bdc-purple-A100             {   border-color: $purple-A100 !important;       }
.bdc-deep-purple-A100        {   border-color: $deep-purple-A100 !important;  }
.bdc-indigo-A100             {   border-color: $indigo-A100 !important;       }
.bdc-blue-A100               {   border-color: $blue-A100 !important;         }
.bdc-light-blue-A100         {   border-color: $light-blue-A100 !important;   }
.bdc-teal-A100               {   border-color: $teal-A100 !important;         }
.bdc-green-A100              {   border-color: $green-A100 !important;        }
.bdc-light-green-A100        {   border-color: $light-green-A100 !important;  }
.bdc-lime-A100               {   border-color: $lime-A100 !important;         }
.bdc-yellow-A100             {   border-color: $yellow-A100 !important;       }
.bdc-amber-A100              {   border-color: $amber-A100 !important;        }
.bdc-orange-A100             {   border-color: $orange-A100 !important;       }
.bdc-deep-orange-A100        {   border-color: $deep-orange-A100 !important;  }

// A200
.bdc-red-A200                {   border-color: $red-A200 !important;          }
.bdc-pink-A200               {   border-color: $pink-A200 !important;         }
.bdc-purple-A200             {   border-color: $purple-A200 !important;       }
.bdc-deep-purple-A200        {   border-color: $deep-purple-A200 !important;  }
.bdc-indigo-A200             {   border-color: $indigo-A200 !important;       }
.bdc-blue-A200               {   border-color: $blue-A200 !important;         }
.bdc-light-blue-A200         {   border-color: $light-blue-A200 !important;   }
.bdc-teal-A200               {   border-color: $teal-A200 !important;         }
.bdc-green-A200              {   border-color: $green-A200 !important;        }
.bdc-light-green-A200        {   border-color: $light-green-A200 !important;  }
.bdc-lime-A200               {   border-color: $lime-A200 !important;         }
.bdc-yellow-A200             {   border-color: $yellow-A200 !important;       }
.bdc-amber-A200              {   border-color: $amber-A200 !important;        }
.bdc-orange-A200             {   border-color: $orange-A200 !important;       }
.bdc-deep-orange-A200        {   border-color: $deep-orange-A200 !important;  }

// A400
.bdc-red-A400                {   border-color: $red-A400 !important;          }
.bdc-pink-A400               {   border-color: $pink-A400 !important;         }
.bdc-purple-A400             {   border-color: $purple-A400 !important;       }
.bdc-deep-purple-A400        {   border-color: $deep-purple-A400 !important;  }
.bdc-indigo-A400             {   border-color: $indigo-A400 !important;       }
.bdc-blue-A400               {   border-color: $blue-A400 !important;         }
.bdc-light-blue-A400         {   border-color: $light-blue-A400 !important;   }
.bdc-teal-A400               {   border-color: $teal-A400 !important;         }
.bdc-green-A400              {   border-color: $green-A400 !important;        }
.bdc-light-green-A400        {   border-color: $light-green-A400 !important;  }
.bdc-lime-A400               {   border-color: $lime-A400 !important;         }
.bdc-yellow-A400             {   border-color: $yellow-A400 !important;       }
.bdc-amber-A400              {   border-color: $amber-A400 !important;        }
.bdc-orange-A400             {   border-color: $orange-A400 !important;       }
.bdc-deep-orange-A400        {   border-color: $deep-orange-A400 !important;  }

// A700
.bdc-red-A700                {   border-color: $red-A700 !important;          }
.bdc-pink-A700               {   border-color: $pink-A700 !important;         }
.bdc-purple-A700             {   border-color: $purple-A700 !important;       }
.bdc-deep-purple-A700        {   border-color: $deep-purple-A700 !important;  }
.bdc-indigo-A700             {   border-color: $indigo-A700 !important;       }
.bdc-blue-A700               {   border-color: $blue-A700 !important;         }
.bdc-light-blue-A700         {   border-color: $light-blue-A700 !important;   }
.bdc-teal-A700               {   border-color: $teal-A700 !important;         }
.bdc-green-A700              {   border-color: $green-A700 !important;        }
.bdc-light-green-A700        {   border-color: $light-green-A700 !important;  }
.bdc-lime-A700               {   border-color: $lime-A700 !important;         }
.bdc-yellow-A700             {   border-color: $yellow-A700 !important;       }
.bdc-amber-A700              {   border-color: $amber-A700 !important;        }
.bdc-orange-A700             {   border-color: $orange-A700 !important;       }
.bdc-deep-orange-A700        {   border-color: $deep-orange-A700 !important;  }

// Black
.bdc-black                   {   border-color: $black !important;             }
.bdc-black-1                 {   border-color: $black-1 !important;           }
.bdc-black-2                 {   border-color: $black-2 !important;           }
.bdc-black-3                 {   border-color: $black-3 !important;           }
.bdc-black-4                 {   border-color: $black-4 !important;           }

// White
.bdc-white                   {   border-color: $white !important;             }
.bdc-white-1                 {   border-color: $white-1 !important;           }
.bdc-white-2                 {   border-color: $white-2 !important;           }
.bdc-white-3                 {   border-color: $white-3 !important;           }
.bdc-white-4                 {   border-color: $white-4 !important;           }