/**
  * Card base styles
  */

.card {
  border-radius: $base-round;
  background-color: $white;
  overflow: hidden;
  @include box-shadow(1);
  @extend %clearfix;
}

.card .card-aside{
  @include position(relative, null, null, null, null);
}

.card-content {
  padding: $padding-large-horizontal;
}

// Card actions
.card-actions {
  padding: $base-space;
  text-align: right;
}

// Card image top
.card-img--top{
  .card-aside{
    figure{
      padding: 0;
    }

    span, strong,figcaption,
    h1, h2, h3, h4, h5, h6 {
      @include position(absolute, null, $base-space * 2, $base-space * 2, $base-space * 2);
      color: $white;
      text-align: left;
    }
  }
}

// Card image side
.card-img--side{
  .card-aside,
  .card-main{
    display: table-cell;
    vertical-align: middle;
  }
  .card-main{
    width: 66.66666666%;
  }
  .card-aside{
    width: 33.3333%;

    figure{
      padding: 0;
    }

    span, strong,figcaption,
    h1, h2, h3, h4, h5, h6 {
      @include position(absolute, null, $base-space * 2, $base-space * 2, $base-space * 2);
      color: $white;
      text-align: left;
    }
  }
}

.card-actions {
  .card-aside + & {
    .card-img--side & {
      text-align: left;
    }
  }
  .card-main + & {
    .card-img--side & {
      text-align: right;
    }
  }
}
