/**
 *
 */
%origam-section,
.origam-section {
  display: block;
  margin: 0 auto;
  max-width: $origam-section-width;
  &.origam-section--full {
    max-width: none !important;
  }
 @extend %clearfix;
}
