$origam-grid-padding: 0.71429em !default;
$origam-grid-prefix: origam-grid !default;
$origam-section-width: 1024px !default;

// Breackpoint
$origam-sm: 480px !default;
$origam-md: 960px !default;
$origam-lg: 1440px !default;