///*------------------------------------*\
//    #SETTINGS-DEFAULTS
//\*------------------------------------*/

// High-level base settings.
$base-font-size:        14px            !default;
$base-line-height:      24px            !default;
$base-font-weight:      300             !default;
$base-text-color:       $black-1        !default;
$base-background-color: $grey-200       !default;
$base-round:            2px             !default;
$base-space:            8px             !default;


// Colors and sizes
// Feel free to override and set new values for your project.

$color-success:         $light-green-400;
$color-info:            $light-blue-400;
$color-warning:         $orange-400;
$color-error:          $red-400;

// Gray color

$grey-lighter:          $grey-200           !default;
$grey-light:            $grey-300           !default;
$grey:                  $grey-500           !default;
$grey-dark:             $grey-800           !default;

// Main colors
$red:                   $red-500            !default;
$pink:                  $pink-500           !default;
$purple:                $purple-500         !default;
$deep-purple:           $deep-purple-500    !default;
$indigo:                $indigo-500         !default;
$blue:                  $blue-500           !default;
$light-blue:            $light-blue-500     !default;
$teal:                  $teal-500           !default;
$green:                 $green-500          !default;
$light-green:           $light-green-500    !default;
$lime:                  $lime-500           !default;
$yellow:                $yellow-500         !default;
$amber:                 $amber-500          !default;
$orange:                $orange-500         !default;
$deep-orange:           $deep-orange-500    !default;
$brown:                 $brown-500          !default;
$grey:                  $grey-500           !default;
$blue-grey:             $blue-grey-500      !default;

// Primary palette colors and accent colors
$primary-color-1:       $blue               !default;
$primary-color-2:       $blue-100           !default;
$primary-color-3:       $blue-700           !default;
$accent-color-1:        $light-blue         !default;
$accent-color-2:        $light-blue-100     !default;
$accent-color-3:        $light-blue-700     !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:                         #fff;
//** Global textual link color.
$link-color:                      $primary-color-1;
//** Link hover color set via `darken()` function.
$link-hover-color:                darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration:           underline;
//** Disabled cursor for form controls and buttons.
$cursor-disabled:                 not-allowed;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

// Font size
$font-size-base:          $base-font-size;
$font-size-large:         ceil(($base-font-size * 1.25)); // ~18px
$font-size-small:         ceil(($base-font-size * 0.85)); // ~12px
$font-size-xs:            $font-size-small;

$font-size-h1:            floor(($base-font-size * 2.6)); // ~36px
$font-size-h2:            floor(($base-font-size * 2.15)); // ~30px
$font-size-h3:            ceil(($base-font-size * 1.7)); // ~24px
$font-size-h4:            ceil(($base-font-size * 1.25)); // ~18px
$font-size-h5:            $base-font-size;
$font-size-h6:            ceil(($base-font-size * 0.85)); // ~12px


$line-height-base:          1.428571429;
$line-height-large:         ($line-height-base * 1.25);
$line-height-small:         ($line-height-base * 0.85);
$line-height-xs:            $line-height-small;
$line-height-computed:    floor(($base-font-size * $line-height-base));

//** By default, this inherits from the `<body>`.
$headings-font-family:        inherit;
$headings-font-weight:        500;
$headings-line-height:        1.1;
$headings-color:              inherit;
$headings-small-color:        $grey-500;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;

// Sizes
$size-xs:               24px !default;
$size-s:                30px !default;
$size-m:                36px !default;
$size-l:                40px !default;
$size-xl:               56px !default;

$table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
$table-bg:                      transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5;
$table-bg-active:              $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color:            #ddd;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal;

$btn-ghost-color:              #333;
$btn-ghost-bg:                 rgba(255,255,255,0.2);
$btn-ghost-border:             rgba(155,155,155,0.2);

$btn-primary-color:              #fff;
$btn-primary-bg:                 $primary-color-1;
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-success-color:              #fff;
$btn-success-bg:                 $color-success;
$btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-color:                 #fff;
$btn-info-bg:                    $color-info;
$btn-info-border:                darken($btn-info-bg, 5%);

$btn-warning-color:              #fff;
$btn-warning-bg:                 $color-warning;
$btn-warning-border:             darken($btn-warning-bg, 5%);

$btn-error-color:               #fff;
$btn-error-bg:                  $color-error;
$btn-error-border:              darken($btn-error-bg, 5%);

$btn-disabled-bg:        $grey-300;

//== Btt

$backtop-size:                       1.8em;
$backtop-margin:                     0.5em;
$backtop-primary-color:              #fff;
$backtop-primary-bg:                 $primary-color-1;
$backtop-primary-bg-hover:           darken($btn-primary-bg, 5%);
$backtop-primary-border:             $backtop-primary-bg-hover;

//== Breadcrumb

$breadcrumb-color:                   #ccc;
$breadcrumb-active-color:            #777;