/**
  * Text field base styles
  */

.text-field{
  @include position(relative, null, null, null, null);
  padding-top: $base-space * 4;
  padding-bottom: $base-space;
}

.text-field--group {
  @include position(relative, null, null, null, null);
  padding-bottom: $base-space;

  &:before,
  &:after {
    content: '';
  }

  &:before {
    @include position(absolute, null, 0, $base-space - 1, 0);
    @include size(100%, 2px);
    border-bottom: 1px solid $black-4;
  }

  &:after {
    @include position(absolute, null, 0, $base-space - 2, 0);
    background-color: $primary-color-1;
    z-index: 2;
    @include size(0, 2px);
    @include transition-property(all);
    @include transition-duration(0.6s);
    @include transition-timing-function(ease-out);
  }
}

.text-field--active {
  .text-field--label {
    @include transform(translateY(0));
    @include font-size($font-size-small);
  }
}

.text-field--focused {
  &:not(.text-field--password),
  &:not(.text-field--select){
    .text-field--group:after {
      @include size(100%, 2px);
    }
  }

  .text-field--label {
    color: $primary-color-1;
    @include transform(translateY(0));
    @include font-size($font-size-small);
  }
}

.text-field--disabled {
  .text-field--group:before {
    border-bottom-style: dashed;
  }

  .text-field--group__input {
    color: $black-3;
    cursor: not-allowed;
  }
}

.text-field--fixed {
  padding-top: $base-space;

  .text-field--label {
    @include font-size($font-size-base);
    @include transform(none);
  }

  &.text-field--focused {
    .text-field--label {
      color: $black-3;
      @include opacity(0);
    }
  }

  &.text-field--active {
    .text-field--label {
      display: none;
    }
  }
}

.text-field--hidden {
  .text-field--label {
    display: none;
  }
}

/**
  * Text field label
  */

.text-field--label {
  display: block;
  @include position(absolute, $base-space, null, null, 0);
  color: $black-3;
  line-height: 32px;
  pointer-events: none;
  @include opacity(1);
  @include transform(translateY($base-space * 3));
  @include transform-origin(bottom left);
  @include transition-property(all);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-out);
  .text-field--color & {
    @include position(absolute, initial, null, 30px, 0);
  }
}

/**
  * Text field input
  */

.text-field--group__input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  resize: none;
  font-weight: 400;
  cursor: text;
  background-color: transparent;
  @include appearance(none);
  box-shadow: none;

  &:focus {
    outline: none;
  }
}

input::-ms-clear {
  display: none;
}

input.text-field--group__input {
  height: 32px;
  line-height: 32px;
}

/**
  *  Text field addons
  */

.text-field--addons{
  &.left {
    padding-left: 68px;
    .text-field--label{
      @include position(absolute, null, null, null, 68px);
    }
  }
  &.right{
    padding-right: 68px;
  }
}

.text-field--group__addons {
  @include position(absolute, 0, null, null, -55px);
  @include size(100%, 100%);
  max-width: 40px;
  max-height: 40px;
  line-height: 40px;
  @include font-size(24px);
  color: $black-2;
  text-align: center;
  @include transition-property(color);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-out);

  .text-field--group__input + &,
  .text-field.right &{
    @include position(absolute, null, -55px, null, auto);
  }

  &:hover {
    .text-field--group__switchpass,
    .text-field--group__selectcountry{
      color: $black-2;
    }
  }

  .text-field--focused & {
    color: $primary-color-1;
  }

  .text-field--error & {
    color: $color-warning;
  }

  .text-field--success & {
    color: $color-success;
  }
}

/**
  * Validation
  */

.text-field--error {
  .text-field--group:after {
    background-color: $color-error;
  }

  .text-field--label {
    color: $color-error;
  }
}

.text-field--success {
  .text-field--label {
    color: $color-success;
  }

  .text-field--group:after {
    background-color: $color-success;
  }
}

.text-field--warning {
  .text-field--label {
    color: $color-warning;
  }

  .text-field--group:after {
    background-color: $color-warning;
  }
}