.origam-datepick{
  @include position(fixed, null, null, null, null);
  font-family: Arial, Helvetica, sans-serif;
  background-image: none;
  border: 10px solid transparent;
  color: $black;
  background-color: $white;
  border-color: darken($white, 17%);
  @include user-select(none);
  z-index: 2;
}

/**
  * Date View
  */
.origam-datepick--view {
  @include position(relative);
  overflow: hidden;
  outline: none;
  display: inline-block;
  margin: 0;
  background-color: $blue;
  min-width: 273px;
  max-width: 275px;
  text-align: center;
  color: white;
  margin-bottom: -4px;

  > * {
    padding: $padding-base-vertical $padding-base-horizontal;
  }

  > .origam-datepick--view__dayL {
    background-color: $black-3;
    margin-bottom: $padding-base-vertical;
    @include font-size($font-size-xs);
  }

  > .origam-datepick--view__dayN {
    @include font-size($size-xl);
    padding: 0;
  }

  > .origam-datepick--view__month {
    @include font-size($font-size-large);
    padding-bottom: 0;
  }

  > .origam-datepick--view__year {
    @include font-size($font-size-small);
    padding-top: 0;
    color: $white-3;
  }

}

/**
  * Calendar
  */

.origam-datepick--calendar {
  display: block;
  margin: 0;
  min-width: 273px;
  max-width: 275px;
  vertical-align: top;
  word-spacing: -0.43em;
  > *{
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
  }
}

/**
  * Submit/Select button
  */

.origam-datepick--submit {
  margin: 0;
  display: block;
}

/**
  * Calendar Header
  */

.origam-datepick--calendar__header {
  border-bottom: 1px solid transparent;
  border-color: darken($white, 17%);
}

.calendar-header--left,
.calendar-header--right {
  display: inline-block;
  @include size(10%,100%);
  min-height: ($base-line-height * 1.5);
  line-height: ($base-line-height * 1.5);
  text-align: center;
  @include font-size($font-size-large);
  vertical-align: top;
  cursor: pointer;
  &:hover{
    background-color: rgba(255,255,255,0.2);
  }
}

.calendar-header--title {
  display: inline-block;
  @include size(80%,100%);
  min-height: ($base-line-height * 1.5);
  line-height: ($base-line-height * 1.5);
  text-align: center;
  vertical-align: top;
}


/**
  * Calendar Content
  */

.calendar-content--weekdays {
  margin: $padding-base-vertical;
  color: $blue;
  border: 1px solid transparent;
  border-bottom-color: $blue;
}

.calendar-content--weekdays__day {
  width: grid-size(1, 7);
  display: inline-block;
  text-align: center;
  min-height: ($base-line-height * 1.5);
  line-height: ($base-line-height * 1.5);
  vertical-align: top;
}

.calendar-content--days {
  margin: $padding-base-vertical;
  border: 1px solid transparent;
}

.calendar-content--days__week > * {
  width: grid-size(1, 7);
  display: inline-block;
  text-align: center;
  min-height: ($base-line-height * 1.5);
  line-height: ($base-line-height * 1.5);
  vertical-align: top;
}

.calendar-content--days__day {
  border: 1px inset transparent;
  box-sizing: border-box;
  cursor: pointer;
  @include position(relative);

  &:hover{
    &:before{
      content: '';
      @include position(absolute, 0, null, null, 0);
      @include size(100%, 100%);
      background-color: $black-3;
      z-index: 1;
    }
  }

  &.calendar-content--days__select {
    background-color: $blue;
    color: $white;
    span {
      z-index: 2;
      position: relative;
    }
  }

  &.calendar-content--days__today{
    border-color: $blue;
  }
}