.origam-datepick{
  @include position(fixed, null, null, null, null);
  font-family: Arial, Helvetica, sans-serif;
  background-image: none;
  border: 10px solid transparent;
  color: $black;
  background-color: $white;
  border-color: darken($white, 17%);
  @include user-select(none);
  z-index: 2;
}

/**
  * Date View
  */
.origam-datepick--view {
  @include position(relative);
  overflow: hidden;
  outline: none;
  display: inline-block;
  margin: 0;
  background-color: $blue;
  min-width: 273px;
  max-width: 275px;
  text-align: center;
  color: white;
  margin-bottom: -4px;

  > * {
    padding: $padding-base-vertical $padding-base-horizontal;
  }

  > .origam-datepick--view__dayL {
    background-color: $black-3;
    margin-bottom: $padding-base-vertical;
    @include font-size($font-size-xs);
  }

  > .origam-datepick--view__dayN {
    @include font-size($size-xl);
    padding: 0;
  }

  > .origam-datepick--view__month {
    @include font-size($font-size-large);
    padding-bottom: 0;
  }

  > .origam-datepick--view__year {
    @include font-size($font-size-small);
    padding-top: 0;
    color: $white-3;
  }

}