/**
  * Text field base styles
  */

.text-field{
  @include position(relative, null, null, null, null);
  padding-top: $base-space * 4;
  padding-bottom: $base-space;
}

.text-field--group {
  @include position(relative, null, null, null, null);
  padding-bottom: $base-space;

  &:before,
  &:after {
    content: '';
  }

  &:before {
    @include position(absolute, null, 0, $base-space - 1, 0);
    height: 1px;
    border-bottom: 1px solid $black-4;
  }

  &:after {
    @include position(absolute, null, 0, $base-space - 2, 0);
    height: 2px;
    background-color: $primary-color-1;
    @include transform(scale(0));
    @include transition-property(transform);
    @include transition-duration(0.6s);
    @include transition-timing-function(ease-out);
  }
}

.text-field--active {
  .text-field--label {
    @include transform(scale(0.75) translateY(0));
  }
}

.text-field--focused {
  &:not(.text-field--password) {
    .text-field--group:after {
      @include transform(scale(1));
    }
  }

  .text-field--label {
    color: $primary-color-1;
    @include transform(scale(0.75) translateY(0));
  }
}

.text-field--disabled {
  .text-field--group:before {
    border-bottom-style: dashed;
  }

  .text-field--group__input {
    color: $black-3;
    cursor: not-allowed;
  }
}

.text-field--fixed {
  padding-top: $base-space;

  .text-field--label {
    @include transform(none);
  }

  &.text-field--focused {
    .text-field--label {
      color: $black-3;
    }
  }
}

.text-field--hidden {
  .text-field--label {
    display: none;
  }
}

// Text field label
.text-field--label {
  display: block;
  @include position(absolute, $base-space, null, null, 0);
  color: $black-3;
  line-height: 32px;
  pointer-events: none;
  @include transform(translateY($base-space * 3));
  @include transform-origin(bottom left);
  @include transition-property(transform, color);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-out);

}

// Text field input
.text-field--group__input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  resize: none;
  font-weight: 400;
  cursor: text;
  background-color: transparent;
  @include appearance(none);
  box-shadow: none;

  &:focus {
    outline: none;
  }
}

input.text-field--group__input {
  height: 32px;
  line-height: 32px;
}

textarea.text-field--group__input {
  height: 24px;
  margin: 4px 0;
  overflow: hidden;
  resize: none;
  @include box-sizing(border-box);
}

// Text field addons
.text-field--addons{
  &.left {
    padding-left: 68px;
    .text-field--label{
      @include position(absolute, null, null, null, 68px);
    }
    .text-field--progressbar{
      @include position(absolute, null, null, null, 68px);
    }
  }
  &.right{
    padding-right: 68px;
  }
}

.text-field--group__addons {
  @include position(absolute, 0, null, null, -68px);
  @include size(40px, 40px);
  line-height: 40px;
  @include font-size(24px);
  color: $black-2;
  text-align: center;
  @include transition-property(color);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-out);

  .text-field--group__input + & {
    @include position(absolute, null, -68px, null, initial);
  }

  .text-field--group__switchpass{
    color: $black-3;
    cursor: pointer;
  }

  .text-field--group__selectcountry{
    color: $black-3;
    cursor: pointer;
    @include position(relative,null,null,null,null);
    @include font-size($font-size-base);
    @include size(100%, 100%);
    &:before {
      @include position(absolute,50%,0,null,null);
      transform: translateY(-50%);
    }
  }

  &:hover {
    .text-field--group__switchpass,
    .text-field--group__selectcountry{
      color: $black-2;
    }
  }

  .text-field--focused & {
    color: $primary-color-1;
  }

  .text-field--error & {
    color: $color-warning;
  }

  .text-field--success & {
    color: $color-success;
  }
}

.text-field--progressbar {
  @include position(absolute, null, null, $base-space - 2, null);
  min-height: 1px;
  border-top: 2px solid;
  &.text-field--progressbar__danger{
    border-color: $color-error;
  }
  &.text-field--progressbar__success{
    border-color: $color-success;
  }
}

.text-field--error {
  .text-field--group:after {
    background-color: $color-error;
    @include transform(scale(1));
  }

  .text-field--label {
    color: $color-error;
  }
}

.text-field--success {
  .text-field--label {
    color: $color-success;
  }

  .text-field--group:after {
    background-color: $color-success;
    @include transform(scale(1));
  }
}

.text-field--warning {
  .text-field--label {
    color: $color-warning;
  }

  .text-field--group:after {
    background-color: $color-warning;
    @include transform(scale(1));
  }
}