/**
  * Text field base styles
  */

.text-field {
  @include position(relative, null, null, null, null);
  padding-top: $base-space * 4;
  padding-bottom: $base-space;

  &:before,
  &:after {
    content: '';
  }

  &:before {
    @include position(absolute, null 0 $base-space - 1 0);
    height: 1px;
    border-bottom: 1px solid $black-4;
  }

  &:after {
    @include position(absolute, null 0 $base-space - 2 0);
    height: 2px;
    background-color: $blue-500;
    @include transform(scale(0));
    @include transition-property(transform);
    @include transition-duration(0.6s);
    @include transition-timing-function(ease-out);
  }
}

.text-field--is-active {
  .text-field--label {
    @include transform(scale(0.75) translateY(0));
  }
}

.text-field--is-focused {
  &:after {
    @include transform(scale(1));
  }

  .text-field--label {
    color: $blue-500;
  }

  &.text-field--dark-theme {
    .text-field--label {
      color: $blue-500;
    }
  }
}

.text-field--is-disabled {
  &:before {
    border-bottom-style: dashed;
  }

  .text-field--input {
    color: $black-3;
    cursor: not-allowed;
  }

  &.text-field--dark-theme {
    .text-field--input {
      color: $white-3;
    }
  }
}

.text-field--has-error {
  &:after {
    background-color: $red-500;
    @include transform(scale(1));
  }

  .text-field--label {
    color: $red-500;
  }

  &.text-field--dark-theme {
    .text-field--label {
      color: $red-500;
    }
  }
}

.text-field--fixed-label {
  padding-top: $base-space;

  .text-field--label {
    @include transform(none);
  }

  &.text-field--is-focused {
    .text-field--label {
      color: $black-3;
    }
  }

  &.text-field--dark-theme.text-field--is-focused {
    .text-field--label {
      color: $white-3;
    }
  }
}

.text-field--label-hidden {
  .text-field--label {
    display: none;
  }
}

.text-field--is-valid {
  .text-field--label {
    color: $green-500;
  }

  &:after {
    background-color: $green-500;
    @include transform(scale(1));
  }

  &.text-field--dark-theme {
    .text-field--label {
      color: $green-500;
    }
  }
}

.text-field--dark-theme {
  &:before {
    border-color: $white-3;
  }
}

.text-field--with-icon {
  margin-left: $base-space * 8;
}

// Text field label
.text-field--label {
  display: block;
  @include position(absolute, $base-space, null, null, 0);
  color: $black-3;
  line-height: 32px;
  pointer-events: none;
  @include transform(translateY($base-space * 3));
  @include transform-origin(bottom left);
  @include transition-property(transform, color);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-out);

  .text-field--dark-theme & {
    color: $white-3;
  }
}

// Text field input
.text-field--input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  resize: none;
  font-weight: 400;
  cursor: text;
  background-color: transparent;
  @include appearance(none);
  box-shadow: none;

  &:focus {
    outline: none;
  }

  .text-field--dark-theme & {
    color: $white;
  }
}

input.text-field--input {
  height: 32px;
  line-height: 32px;
}

textarea.text-field--input {
  height: 24px;
  margin: 4px 0;
}

// Text field icon
.text-field--icon {
  @include position(absolute, 2px null null -68px);
  @include size(48px, 44px);
  line-height: 44px;
  @include font-size(24px);
  color: $black-2;
  text-align: center;
  @include transition-property(color);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-out);

  .text-field--dark-theme & {
    color: $white;
  }

  .text-field--is-focused & {
    color: $blue-500;
  }

  .text-field--has-error & {
    color: $red-500;
  }

  .text-field--is-valid & {
    color: $green-500;
  }
}

// Input file base styles
.input-file {
  @include position(relative, null, null, null, null);
  padding-top: $base-space * 4;
  padding-bottom: $base-space;

  &:before,
  &:after {
    content: '';
  }

  &:before {
    @include position(absolute, null, 0, $base-space - 1, 0);
    height: 1px;
    border-bottom: 1px solid $black-4;
  }

  &:after {
    @include position(absolute, null, 0, $base-space - 2, 0);
    height: 2px;
    background-color: $blue-500;
    @include transform(scale(0));
    @include transition-property(transform);
    @include transition-duration(0.6s);
    @include transition-timing-function(ease-out);
  }
}

.input-file--is-active {
  .input-file--label {
    @include scale(0.75);
    @include translateY(0);
  }

  .input-file--filename {
    opacity: 1;
  }
}

.input-file--is-focused {
  &:after {
    @include scale(1);
  }

  .input-file--label {
    color: $blue-500;
  }
}

// Input file label
.input-file--label {
  display: block;
  @include position(absolute, $base-space, null, null, 0);
  color: $black-3;
  line-height: 32px;
  pointer-events: none;
  @include translateY($base-space * 3);
  @include transform-origin(bottom left);
  @include transition-property(transform, color);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-out);
}

// Input file filename
.input-file--filename {
  display: block;
  @include size(100% $base-space * 4);
  overflow: hidden;
  opacity: 0;
  line-height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Input file input
.input-file--input {
  @include position(absolute, $base-space * 4, null, null, 0);
  @include size(100% 32px);
  opacity: 0;
  cursor: pointer;
}