/**
  * Password
  */

input[type=password]{
  &::-ms-reveal {
    display: none;
  }
}

.text-field--progressbar {
  @include position(absolute, null, null, $base-space - 2, null);
  min-height: 1px;
  border-top: 2px solid;
  z-index: 3;
  @include transition-property(all);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease-out);
  &.text-field--progressbar__danger{
    border-color: $color-error;
  }
  &.text-field--progressbar__success{
    border-color: $color-success;
  }

  .text-field--addons.left & {
    @include position(absolute, null, null, null, 68px);
  }
}

.text-field--group__switchpass{
  color: $black-3;
  cursor: pointer;
}