/**
  * Select base styles
  */

.select {

}

.select-help {
  display: block;
  @extend %fts-caption;
  color: $black-2;
  text-align: left;
}

[data-animate="false"]{
  & + .text-field--select{
    &:after,
    &:before{
      @include transition-property(none);
    }
  }
}

.text-field--select {
  border: 1px solid transparent;

  &:after,
  &:before {
    content: '';
    background-color: $black-4;
    @include size(1px, 0);
    @include transition-property(all);
    @include transition-duration(.5s);
    @include transition-timing-function(ease-out);
  }

  &:after {
    @include position(absolute, 0, 0, null, null);
  }

  &:before {
    @include position(absolute, 0, null, null, 0);
  }

  &.open {
    padding-right: 0;
    @include box-sizing(border-box);

    &:after,
    &:before {
      @include size(1px, 100%);
    }
  }

  .text-field--label {
    left: 12px;
  }

  div.text-field--group__input {
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    padding: 0 $padding-base-horizontal;
  }
}

.text-field--selectlist {
  @include size(100%, 0px);
  background-color: $white;
  @include position(absolute, 100%, null, null, 0);
  @include translateY(-$base-space*2);
  z-index: 3;
  border: 1px solid $black-4;
  overflow: hidden;
  @include transition-property(height);
  @include transition-duration(.6s);
  @include transition-timing-function(ease-out);

  .text-field {
    padding: 0;
  }

  .text-field--group{
    padding-bottom: 0;
    &:before,
    &:after {
      bottom: 0;
    }
  }

  .text-field--group__input {
    padding-right: 38px;
    padding-left: $padding-base-horizontal;
    height: 40px;
    line-height: 40px;
  }

  .text-field.right {
    .text-field--group__addons {
      @include font-size($font-size-large);
      @include position(absolute, 0, 0, null, initial);
    }
  }
}

.text-field--selectlist__select {
  overflow: auto;
}

.selectlist-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .selectlist-list--option{
    padding: $padding-base-vertical $padding-base-horizontal;
    cursor: pointer;
    color: $black;
    @include box-sizing(border-box);
    border-top: 1px solid transparent;
    &:hover,
    &.selectlist-list--option__active{
      background-color: $primary-color-1;
      color: $white;
      border-top-color: $white-2;
    }

    .selectlist-list--option__content{
      font-style: normal;
      text-decoration: underline;
    }

  }
}

.selectlist-list--option__group {
  padding: $padding-base-vertical $padding-base-horizontal;
  color: $black-3;
  @include font-size($font-size-small);
  .selectlist-list {
    margin-top: $padding-base-vertical;
  }
  .selectlist-list--option {
    @include font-size($font-size-base);
    margin: 0 (-$padding-base-horizontal);
    padding: $padding-base-vertical ($padding-base-horizontal * 2);
  }
}
