/**
  * Select base styles
  */

.select {

}

.select-help {
  height: $base-space * 4;
  padding: 0 $base-space * 2;
  @include font-size($base-font-size);
  color: $black-3;
  line-height: $base-space * 4;
  white-space: nowrap;
}