/*********** Origam Grid Pull **************/

.#{$origam-grid-prefix}_pull-1 {
  right: grid-size(1,1);
}

.#{$origam-grid-prefix}_pull-1-2,
.#{$origam-grid-prefix}_pull-2-4,
.#{$origam-grid-prefix}_pull-3-6,
.#{$origam-grid-prefix}_pull-4-8,
.#{$origam-grid-prefix}_pull-5-10,
.#{$origam-grid-prefix}_pull-6-12  {
  right: grid-size(1,2);
}

.#{$origam-grid-prefix}_pull-1-3,
.#{$origam-grid-prefix}_pull-2-6,
.#{$origam-grid-prefix}_pull-3-9,
.#{$origam-grid-prefix}_pull-4-12 {
  right: grid-size(1,3);
}

.#{$origam-grid-prefix}_pull-2-3,
.#{$origam-grid-prefix}_pull-4-6,
.#{$origam-grid-prefix}_pull-6-9,
.#{$origam-grid-prefix}_pull-8-12 {
  right: grid-size(2,3);
}

.#{$origam-grid-prefix}_pull-1-4,
.#{$origam-grid-prefix}_pull-2-8,
.#{$origam-grid-prefix}_pull-3-12 {
  right: grid-size(1,4);
}

.#{$origam-grid-prefix}_pull-3-4,
.#{$origam-grid-prefix}_pull-6-8,
.#{$origam-grid-prefix}_pull-9-12 {
  right: grid-size(3,4);
}

.#{$origam-grid-prefix}_pull-1-5,
.#{$origam-grid-prefix}_pull-2-10 {
  right: grid-size(1,5);
}

.#{$origam-grid-prefix}_pull-2-5,
.#{$origam-grid-prefix}_pull-4-10 {
  right: grid-size(2,5);
}

.#{$origam-grid-prefix}_pull-3-5,
.#{$origam-grid-prefix}_pull-6-10 {
  right: grid-size(3,5);
}

.#{$origam-grid-prefix}_pull-4-5,
.#{$origam-grid-prefix}_pull-8-10 {
  right: grid-size(4,5);
}

.#{$origam-grid-prefix}_pull-1-6,
.#{$origam-grid-prefix}_pull-2-12 {
  right: grid-size(1,6);
}

.#{$origam-grid-prefix}_pull-5-6 {
  right: grid-size(5,6);
}

.#{$origam-grid-prefix}_pull-1-7 {
  right: grid-size(1,7);
}

.#{$origam-grid-prefix}_pull-2-7 {
  right: grid-size(2,7);
}

.#{$origam-grid-prefix}_pull-3-7 {
  right: grid-size(3,7);
}

.#{$origam-grid-prefix}_pull-4-7 {
  right: grid-size(4,7);
}

.#{$origam-grid-prefix}_pull-5-7 {
  right: grid-size(5,7);
}

.#{$origam-grid-prefix}_pull-6-7 {
  right: grid-size(6,7);
}

.#{$origam-grid-prefix}_pull-1-8 {
  right: grid-size(1,8);
}

.#{$origam-grid-prefix}_pull-3-8 {
  right: grid-size(3,8);
}

.#{$origam-grid-prefix}_pull-5-8 {
  right: grid-size(5,8);
}

.#{$origam-grid-prefix}_pull-7-8 {
  right: grid-size(7,8);
}

.#{$origam-grid-prefix}_pull-1-9 {
  right: grid-size(1,9);
}

.#{$origam-grid-prefix}_pull-2-9 {
  right: grid-size(2,9);
}

.#{$origam-grid-prefix}_pull-4-9 {
  right: grid-size(4,9);
}

.#{$origam-grid-prefix}_pull-5-9 {
  right: grid-size(5,9);
}

.#{$origam-grid-prefix}_pull-7-9 {
  right: grid-size(7,9);
}

.#{$origam-grid-prefix}_pull-8-9 {
  right: grid-size(8,9);
}

.#{$origam-grid-prefix}_pull-1-10 {
  right: grid-size(1,10);
}

.#{$origam-grid-prefix}_pull-3-10 {
  right: grid-size(3,10);
}

.#{$origam-grid-prefix}_pull-7-10 {
  right: grid-size(7,10);
}

.#{$origam-grid-prefix}_pull-9-10 {
  right: grid-size(9,10);
}

.#{$origam-grid-prefix}_pull-1-11 {
  right: grid-size(1,11);
}

.#{$origam-grid-prefix}_pull-2-11 {
  right: grid-size(2,11);
}

.#{$origam-grid-prefix}_pull-3-11 {
  right: grid-size(3,11);
}

.#{$origam-grid-prefix}_pull-4-11 {
  right: grid-size(4,11);
}

.#{$origam-grid-prefix}_pull-5-11 {
  right: grid-size(5,11);
}

.#{$origam-grid-prefix}_pull-6-11 {
  right: grid-size(6,11);
}

.#{$origam-grid-prefix}_pull-7-11 {
  right: grid-size(7,11);
}

.#{$origam-grid-prefix}_pull-8-11 {
  right: grid-size(8,11);
}

.#{$origam-grid-prefix}_pull-9-11 {
  right: grid-size(9,11);
}

.#{$origam-grid-prefix}_pull-10-11 {
  right: grid-size(10,11);
}

.#{$origam-grid-prefix}_pull-1-12 {
  right: grid-size(1,12);
}

.#{$origam-grid-prefix}_pull-5-12 {
  right: grid-size(5,12);
}

.#{$origam-grid-prefix}_pull-7-12 {
  right: grid-size(7,12);
}

.#{$origam-grid-prefix}_pull-10-12 {
  right: grid-size(10,12);
}

.#{$origam-grid-prefix}_pull-11-12 {
  right: grid-size(11,12);
}