/*********** Origam Grid Push **************/

.#{$origam-grid-prefix}_push-1 {
  left: grid-size(1,1);
}

.#{$origam-grid-prefix}_push-1-2,
.#{$origam-grid-prefix}_push-2-4,
.#{$origam-grid-prefix}_push-3-6,
.#{$origam-grid-prefix}_push-4-8,
.#{$origam-grid-prefix}_push-5-10,
.#{$origam-grid-prefix}_push-6-12  {
  left: grid-size(1,2);
}

.#{$origam-grid-prefix}_push-1-3,
.#{$origam-grid-prefix}_push-2-6,
.#{$origam-grid-prefix}_push-3-9,
.#{$origam-grid-prefix}_push-4-12 {
  left: grid-size(1,3);
}

.#{$origam-grid-prefix}_push-2-3,
.#{$origam-grid-prefix}_push-4-6,
.#{$origam-grid-prefix}_push-6-9,
.#{$origam-grid-prefix}_push-8-12 {
  left: grid-size(2,3);
}

.#{$origam-grid-prefix}_push-1-4,
.#{$origam-grid-prefix}_push-2-8,
.#{$origam-grid-prefix}_push-3-12 {
  left: grid-size(1,4);
}

.#{$origam-grid-prefix}_push-3-4,
.#{$origam-grid-prefix}_push-6-8,
.#{$origam-grid-prefix}_push-9-12 {
  left: grid-size(3,4);
}

.#{$origam-grid-prefix}_push-1-5,
.#{$origam-grid-prefix}_push-2-10 {
  left: grid-size(1,5);
}

.#{$origam-grid-prefix}_push-2-5,
.#{$origam-grid-prefix}_push-4-10 {
  left: grid-size(2,5);
}

.#{$origam-grid-prefix}_push-3-5,
.#{$origam-grid-prefix}_push-6-10 {
  left: grid-size(3,5);
}

.#{$origam-grid-prefix}_push-4-5,
.#{$origam-grid-prefix}_push-8-10 {
  left: grid-size(4,5);
}

.#{$origam-grid-prefix}_push-1-6,
.#{$origam-grid-prefix}_push-2-12 {
  left: grid-size(1,6);
}

.#{$origam-grid-prefix}_push-5-6 {
  left: grid-size(5,6);
}

.#{$origam-grid-prefix}_push-1-7 {
  left: grid-size(1,7);
}

.#{$origam-grid-prefix}_push-2-7 {
  left: grid-size(2,7);
}

.#{$origam-grid-prefix}_push-3-7 {
  left: grid-size(3,7);
}

.#{$origam-grid-prefix}_push-4-7 {
  left: grid-size(4,7);
}

.#{$origam-grid-prefix}_push-5-7 {
  left: grid-size(5,7);
}

.#{$origam-grid-prefix}_push-6-7 {
  left: grid-size(6,7);
}

.#{$origam-grid-prefix}_push-1-8 {
  left: grid-size(1,8);
}

.#{$origam-grid-prefix}_push-3-8 {
  left: grid-size(3,8);
}

.#{$origam-grid-prefix}_push-5-8 {
  left: grid-size(5,8);
}

.#{$origam-grid-prefix}_push-7-8 {
  left: grid-size(7,8);
}

.#{$origam-grid-prefix}_push-1-9 {
  left: grid-size(1,9);
}

.#{$origam-grid-prefix}_push-2-9 {
  left: grid-size(2,9);
}

.#{$origam-grid-prefix}_push-4-9 {
  left: grid-size(4,9);
}

.#{$origam-grid-prefix}_push-5-9 {
  left: grid-size(5,9);
}

.#{$origam-grid-prefix}_push-7-9 {
  left: grid-size(7,9);
}

.#{$origam-grid-prefix}_push-8-9 {
  left: grid-size(8,9);
}

.#{$origam-grid-prefix}_push-1-10 {
  left: grid-size(1,10);
}

.#{$origam-grid-prefix}_push-3-10 {
  left: grid-size(3,10);
}

.#{$origam-grid-prefix}_push-7-10 {
  left: grid-size(7,10);
}

.#{$origam-grid-prefix}_push-9-10 {
  left: grid-size(9,10);
}

.#{$origam-grid-prefix}_push-1-11 {
  left: grid-size(1,11);
}

.#{$origam-grid-prefix}_push-2-11 {
  left: grid-size(2,11);
}

.#{$origam-grid-prefix}_push-3-11 {
  left: grid-size(3,11);
}

.#{$origam-grid-prefix}_push-4-11 {
  left: grid-size(4,11);
}

.#{$origam-grid-prefix}_push-5-11 {
  left: grid-size(5,11);
}

.#{$origam-grid-prefix}_push-6-11 {
  left: grid-size(6,11);
}

.#{$origam-grid-prefix}_push-7-11 {
  left: grid-size(7,11);
}

.#{$origam-grid-prefix}_push-8-11 {
  left: grid-size(8,11);
}

.#{$origam-grid-prefix}_push-9-11 {
  left: grid-size(9,11);
}

.#{$origam-grid-prefix}_push-10-11 {
  left: grid-size(10,11);
}

.#{$origam-grid-prefix}_push-1-12 {
  left: grid-size(1,12);
}

.#{$origam-grid-prefix}_push-5-12 {
  left: grid-size(5,12);
}

.#{$origam-grid-prefix}_push-7-12 {
  left: grid-size(7,12);
}

.#{$origam-grid-prefix}_push-10-12 {
  left: grid-size(10,12);
}

.#{$origam-grid-prefix}_push-11-12 {
  left: grid-size(11,12);
}