/*********** Origam Grid Push **************/

.#{$origam-grid-prefix}__cell_push-1of1 {
  left: grid-size(1,1);
}

.#{$origam-grid-prefix}__cell_push-1of2,
.#{$origam-grid-prefix}__cell_push-2of4,
.#{$origam-grid-prefix}__cell_push-3of6,
.#{$origam-grid-prefix}__cell_push-4of8,
.#{$origam-grid-prefix}__cell_push-5of10,
.#{$origam-grid-prefix}__cell_push-6of12  {
  left: grid-size(1,2);
}

.#{$origam-grid-prefix}__cell_push-1of3,
.#{$origam-grid-prefix}__cell_push-2of6,
.#{$origam-grid-prefix}__cell_push-3of9,
.#{$origam-grid-prefix}__cell_push-4of12 {
  left: grid-size(1,3);
}

.#{$origam-grid-prefix}__cell_push-2of3,
.#{$origam-grid-prefix}__cell_push-4of6,
.#{$origam-grid-prefix}__cell_push-6of9,
.#{$origam-grid-prefix}__cell_push-8of12 {
  left: grid-size(2,3);
}

.#{$origam-grid-prefix}__cell_push-1of4,
.#{$origam-grid-prefix}__cell_push-2of8,
.#{$origam-grid-prefix}__cell_push-3of12 {
  left: grid-size(1,4);
}

.#{$origam-grid-prefix}__cell_push-3of4,
.#{$origam-grid-prefix}__cell_push-6of8,
.#{$origam-grid-prefix}__cell_push-9of12 {
  left: grid-size(3,4);
}

.#{$origam-grid-prefix}__cell_push-1of5,
.#{$origam-grid-prefix}__cell_push-2of10 {
  left: grid-size(1,5);
}

.#{$origam-grid-prefix}__cell_push-2of5,
.#{$origam-grid-prefix}__cell_push-4of10 {
  left: grid-size(2,5);
}

.#{$origam-grid-prefix}__cell_push-3of5,
.#{$origam-grid-prefix}__cell_push-6of10 {
  left: grid-size(3,5);
}

.#{$origam-grid-prefix}__cell_push-4of5,
.#{$origam-grid-prefix}__cell_push-8of10 {
  left: grid-size(4,5);
}

.#{$origam-grid-prefix}__cell_push-1of6,
.#{$origam-grid-prefix}__cell_push-2of12 {
  left: grid-size(1,6);
}

.#{$origam-grid-prefix}__cell_push-5of6 {
  left: grid-size(5,6);
}

.#{$origam-grid-prefix}__cell_push-1of7 {
  left: grid-size(1,7);
}

.#{$origam-grid-prefix}__cell_push-2of7 {
  left: grid-size(2,7);
}

.#{$origam-grid-prefix}__cell_push-3of7 {
  left: grid-size(3,7);
}

.#{$origam-grid-prefix}__cell_push-4of7 {
  left: grid-size(4,7);
}

.#{$origam-grid-prefix}__cell_push-5of7 {
  left: grid-size(5,7);
}

.#{$origam-grid-prefix}__cell_push-6of7 {
  left: grid-size(6,7);
}

.#{$origam-grid-prefix}__cell_push-1of8 {
  left: grid-size(1,8);
}

.#{$origam-grid-prefix}__cell_push-3of8 {
  left: grid-size(3,8);
}

.#{$origam-grid-prefix}__cell_push-5of8 {
  left: grid-size(5,8);
}

.#{$origam-grid-prefix}__cell_push-7of8 {
  left: grid-size(7,8);
}

.#{$origam-grid-prefix}__cell_push-1of9 {
  left: grid-size(1,9);
}

.#{$origam-grid-prefix}__cell_push-2of9 {
  left: grid-size(2,9);
}

.#{$origam-grid-prefix}__cell_push-4of9 {
  left: grid-size(4,9);
}

.#{$origam-grid-prefix}__cell_push-5of9 {
  left: grid-size(5,9);
}

.#{$origam-grid-prefix}__cell_push-7of9 {
  left: grid-size(7,9);
}

.#{$origam-grid-prefix}__cell_push-8of9 {
  left: grid-size(8,9);
}

.#{$origam-grid-prefix}__cell_push-1of10 {
  left: grid-size(1,10);
}

.#{$origam-grid-prefix}__cell_push-3of10 {
  left: grid-size(3,10);
}

.#{$origam-grid-prefix}__cell_push-7of10 {
  left: grid-size(7,10);
}

.#{$origam-grid-prefix}__cell_push-9of10 {
  left: grid-size(9,10);
}

.#{$origam-grid-prefix}__cell_push-1of11 {
  left: grid-size(1,11);
}

.#{$origam-grid-prefix}__cell_push-2of11 {
  left: grid-size(2,11);
}

.#{$origam-grid-prefix}__cell_push-3of11 {
  left: grid-size(3,11);
}

.#{$origam-grid-prefix}__cell_push-4of11 {
  left: grid-size(4,11);
}

.#{$origam-grid-prefix}__cell_push-5of11 {
  left: grid-size(5,11);
}

.#{$origam-grid-prefix}__cell_push-6of11 {
  left: grid-size(6,11);
}

.#{$origam-grid-prefix}__cell_push-7of11 {
  left: grid-size(7,11);
}

.#{$origam-grid-prefix}__cell_push-8of11 {
  left: grid-size(8,11);
}

.#{$origam-grid-prefix}__cell_push-9of11 {
  left: grid-size(9,11);
}

.#{$origam-grid-prefix}__cell_push-10of11 {
  left: grid-size(10,11);
}

.#{$origam-grid-prefix}__cell_push-1of12 {
  left: grid-size(1,12);
}

.#{$origam-grid-prefix}__cell_push-5of12 {
  left: grid-size(5,12);
}

.#{$origam-grid-prefix}__cell_push-7of12 {
  left: grid-size(7,12);
}

.#{$origam-grid-prefix}__cell_push-10of12 {
  left: grid-size(10,12);
}

.#{$origam-grid-prefix}__cell_push-11of12 {
  left: grid-size(11,12);
}