// Stacked Icons
// -------------------------

%#{$origam-css-prefix}-stack,
.#{$origam-css-prefix}-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

%#{$origam-css-prefix}-stack-1x,
%#{$origam-css-prefix}-stack-2x,
.#{$origam-css-prefix}-stack-1x,
.#{$origam-css-prefix}-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

%#{$origam-css-prefix}-stack-1x,
.#{$origam-css-prefix}-stack-1x {
  line-height: inherit;
}

%#{$origam-css-prefix}-stack-2x,
.#{$origam-css-prefix}-stack-2x {
  font-size: 2em;
}

%#{$origam-css-prefix}-inverse,
.#{$origam-css-prefix}-inverse {
  color: $origam-inverse;
}
