@font-face {
  font-family: 'origamicon';
  src:url('#{$origam-font-path}#{$origam-file-name}.eot');
  src:url('#{$origam-font-path}#{$origam-file-name}.eot?#iefix') format('embedded-opentype'),
      url('#{$origam-font-path}#{$origam-file-name}.woff') format('woff'),
      url('#{$origam-font-path}#{$origam-file-name}.ttf') format('truetype'),
      url('#{$origam-font-path}#{$origam-file-name}.svg##{$origam-file-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}